@font-face {
	font-family: 'Gramatika';
	src: url('../../fonts/gramatika-regular.eot');
	src: url('../../fonts/gramatika-regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/gramatika-regular.woff2') format('woff2'),
		url('../../fonts/gramatika-regular.woff') format('woff'),
		url('../../fonts/gramatika-regular.ttf') format('truetype'),
		url('../../fonts/gramatika-regular.svg#gramatika-regular') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
	font-family: 'Gramatika';
	src: url('../../fonts/gramatika-medium.eot');
	src: url('../../fonts/gramatika-medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/gramatika-medium.woff2') format('woff2'),
		url('../../fonts/gramatika-medium.woff') format('woff'),
		url('../../fonts/gramatika-medium.ttf') format('truetype'),
		url('../../fonts/gramatika-medium.svg#gramatika-medium') format('svg');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
}