:root {
    --trans: .3s;
}

* {
    font-family: 'Gramatika', sans-serif;
    overflow-wrap: inherit;
}

.block-scroll {
    overflow: hidden !important;
}

button, a {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

button, a {
    transition: var(--trans);
}

h1, h2, h3, p, a, span {
    line-height: 120%;
}

.container {
    padding: 174px 56px 120px 56px;
    &__main {
        padding-top: 210px;
        @media (max-width: 1640px) {
            padding-top: 164px;
        }
        @media (max-width: 1270px) {
            padding-top: 164px;
        }
        @media (max-width: 680px) {
            padding-top: 140px;
        }
        @media (max-width: 492px) {
            padding-top: 118px;
        }
    }
    @media (max-width: 1640px) {
        padding: 132px 40px 80px 40px;
    }
    @media (max-width: 1270px) {
        padding: 132px 40px 60px 40px;
    }
    @media (max-width: 680px) {
        padding: 120px 20px 50px 20px;
    }
    @media (max-width: 492px) {
        padding: 102px 20px 50px 20px;
    }
}

h1 {
    font-size: 72px;
    color: var(--text-main-color-light);
    font-weight: 500;
    margin-bottom: 42px;
    @media (max-width: 1640px) {
        font-size: 52px;
        margin-bottom: 32px;
    }
    @media (max-width: 850px) {
        font-size: 46px; 
    }
    @media (max-width: 640px) {
        font-size: 30px; 
        margin-bottom: 24px;
    }
}

body {
    transition: var(--trans);
    background-color: var(--background);
    overflow-x: hidden;
    &.no-transition,
    &.no-transition * {
        transition: none !important;
    }
    &[data-theme="dark"] {
        .shadow-back {
            > div {
                z-index: -2;
                border-radius: 100%;
                position: fixed;
                &:nth-child(1) {
                    width: max(25vw, 320px);
                    height: max(25vw, 320px);
                    top: -10vw;
                    right: 5vw;
                }
                &:nth-child(2) {
                    width: max(30vw, 350px);
                    height: max(30vw, 350px);
                    top: 20vw;
                    left: -20vw;
                }
                &:nth-child(3) {
                    width: max(30vw, 350px);
                    height: max(30vw, 350px);
                    bottom: -22vw;
                    left: 30vw;
                }
                &:nth-child(4) {
                    width: max(15vw, 204px);
                    height: max(15vw, 204px);
                    top: 20vw;
                    left: 30vw;
                }
                &:nth-child(5) {
                    width: max(15vw, 204px);
                    height: max(15vw, 204px);
                    bottom: 0;
                    right: -2vw;
                }
            }
            &__purple {
                background: #DA40B6;
                filter: blur(200px);
            }
            &__blue {
                background: #014DA5;
                filter: blur(250px);
            }
        }
        --background: #12132B;

        --text-main-color-light: rgba(255, 255, 255, 1);
        --text-main-color-dark: rgba(24, 24, 24, 1);
    }

    &[data-theme="light"] {
        --background: #F9FAFC;
      
        --text-main-color-light: rgba(24, 24, 24, 1);
        --text-main-color-dark: rgba(255, 255, 255, 1);
    }
}

