:root {
    --img-phone-popup: url('../../img/popup-phone.png');
    --img-btn-link-light: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M15 5.5L5 15.5M15 5.5L6 5.5M15 5.5V14.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    --img-btn-download-light: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M16.6667 14.6673V16.334C16.6667 16.776 16.4912 17.1999 16.1786 17.5125C15.866 17.8251 15.4421 18.0007 15.0001 18.0007H5.00008C4.55805 18.0007 4.13413 17.8251 3.82157 17.5125C3.50901 17.1999 3.33342 16.776 3.33342 16.334V14.6673M14.1667 9.66732L10.0001 13.834M10.0001 13.834L5.83342 9.66732M10.0001 13.834L10.0001 3.83398' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    --img-btn-location-light: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M10.6166 18.1772C15.1572 11.5947 16 10.9192 16 8.5C16 5.18628 13.3137 2.5 10 2.5C6.68628 2.5 4 5.18628 4 8.5C4 10.9192 4.84281 11.5947 9.38338 18.1772C9.68134 18.6076 10.3187 18.6076 10.6166 18.1772ZM10 11C8.61928 11 7.5 9.88072 7.5 8.5C7.5 7.11928 8.61928 6 10 6C11.3807 6 12.5 7.11928 12.5 8.5C12.5 9.88072 11.3807 11 10 11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

body {
    &[data-theme="dark"] {
        --input-bg-search: rgba(255, 255, 255, 0.06);
        --input-bg-search-focus: rgba(255, 255, 255, 0.1);
        --input-border-search: rgba(255, 255, 255, 0.12);
        --input-border-search-focus: rgba(255, 255, 255, 0.18);
        --input-img-search: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.22'%3E%3Cpath d='M8.33333 14.1667C11.555 14.1667 14.1667 11.555 14.1667 8.33333C14.1667 5.11167 11.555 2.5 8.33333 2.5C5.11167 2.5 2.5 5.11167 2.5 8.33333C2.5 11.555 5.11167 14.1667 8.33333 14.1667Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 17.5L12.5 12.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");

        --tags-border: rgba(255, 255, 255, 0.12);
        --tag-bg: rgba(239, 242, 246, 0.12);
        --tag-text-color: rgba(255, 255, 255, .6);
        --tag-bg-hover: rgba(239, 242, 246, 0.2);
        --tag-img: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M2.142 13H3.87L4.41 9.976H7.452L6.912 13H8.622L9.162 9.976H11.466L11.718 8.338H9.45L10.044 4.954H12.222L12.456 3.334H10.332L10.854 0.399999H9.144L8.622 3.334H5.58L6.102 0.399999H4.374L3.852 3.334H1.656L1.422 4.954H3.564L2.97 8.338H0.9L0.666 9.976H2.682L2.142 13ZM4.698 8.338L5.292 4.954H8.334L7.74 8.338H4.698Z' fill='white'/%3E%3C/svg%3E%0A");

        --btn-img-prew: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M43.1001 13L34.1001 22L43.1001 31' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='white' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
        --btn-img-prew-hover: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.1001 13L34.1001 22L43.1001 31' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A"); 
        --btn-img-next: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M39.8999 13L48.8999 22L39.8999 31' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='white' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
        --btn-img-next-hover: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.8999 13L48.8999 22L39.8999 31' stroke='white' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E%0A"); 
    
        --main-slide-opacity: .5;
        --main-slide-bg: rgba(255, 255, 255, 0.16);
        --main-slide-bg-hover: rgba(255, 255, 255, 1);
        --main-slide-box-shadow: unset;
        --main-slide-box-shadow-hover: 0px 5px 55px rgba(62, 31, 31, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-text-color-hover: rgba(26, 27, 29, 1);
        --main-slide-text-color-detailed: rgba(73, 105, 219, 1);
        --main-slide-text-color-detailed-hover: rgba(19, 67, 239, 1);
        --main-slide-border-detailed: rgba(255, 255, 255, 0.08);
        --main-slide-border-detailed-hover: rgba(24, 24, 24, 0.08);
        --main-slide-detailed-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='%234969DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='%234969DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-slide-detailed-arrow-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='%231343EF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='%231343EF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-border-link-slider: rgba(255, 255, 255, 0.08);
        --main-color-link-slider-hover: rgba(255, 255, 255, .8);
        --main-arrow-link-slider: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-arrow-link-slider-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");

        --img-btn-link: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M15 5.5L5 15.5M15 5.5L6 5.5M15 5.5V14.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        --img-btn-download: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M16.6667 14.6673V16.334C16.6667 16.776 16.4912 17.1999 16.1786 17.5125C15.866 17.8251 15.4421 18.0007 15.0001 18.0007H5.00008C4.55805 18.0007 4.13413 17.8251 3.82157 17.5125C3.50901 17.1999 3.33342 16.776 3.33342 16.334V14.6673M14.1667 9.66732L10.0001 13.834M10.0001 13.834L5.83342 9.66732M10.0001 13.834L10.0001 3.83398' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");

        --bg-btn-gray: rgba(255, 255, 255, 0.08);
        --bg-btn-gray-hover: rgba(255, 255, 255, 0.14);
        --border-btn-transperent: rgba(255, 255, 255, 0.12);
        --border-btn-transperent-hover: rgba(255, 255, 255, 0.24);

        --border-popup: rgba(255, 255, 255, 0.12);
        --bg-popup: #1D203A;
        --border-input-popup: rgba(255, 255, 255, 0.12);
        --bg-input-popup: rgba(255, 255, 255, 0.06);
        --border-input-popup-hover: rgba(255, 255, 255, 0.18);
        --bg-input-popup-hover: rgba(255, 255, 255, 0.1);
        --img-popup-cross: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.24'%3E%3Cpath d='M24 24L8 8M24 8L8 24' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        --border-popup-mail: rgba(255, 255, 255, .12);
        --color-text-popup-opacity: rgba(255, 255, 255, .8);
        --border-link-popup: rgba(255, 255, 255, .2);

        --img-arrow-path: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M2.91659 7H11.0833M11.0833 7L7.58325 10.5M11.0833 7L7.58325 3.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
    
        --bg-page-pagination: rgba(255, 255, 255, 0.08);
        --img-answer-success: url("data:image/svg+xml,%3Csvg width='100' height='101' viewBox='0 0 100 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_822_16342-732376)'%3E%3Ccircle cx='50' cy='50.5' r='50' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Cpath d='M39.5 50.5L47 58L62 43' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_822_16342-732376' x='-12' y='-11.5' width='124' height='124' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='6'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_822_16342'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_822_16342' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        --img-answer-error: url("data:image/svg+xml,%3Csvg width='100' height='101' viewBox='0 0 100 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_822_16406-427575)'%3E%3Ccircle cx='50' cy='50.5' r='50' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Cpath d='M59 59.5L41 41.5M59 41.5L41 59.5' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_822_16406-427575' x='-12' y='-11.5' width='124' height='124' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='6'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_822_16406'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_822_16406' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &[data-theme="light"] {
        --input-bg-search: rgba(239, 242, 246, 1);
        --input-bg-search-focus: #EBEFF3;
        --input-border-search: rgba(229, 234, 240, 1);
        --input-border-search-focus: #D4DEE9;
        --input-img-search: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.22'%3E%3Cpath d='M8.33333 14.1667C11.555 14.1667 14.1667 11.555 14.1667 8.33333C14.1667 5.11167 11.555 2.5 8.33333 2.5C5.11167 2.5 2.5 5.11167 2.5 8.33333C2.5 11.555 5.11167 14.1667 8.33333 14.1667Z' stroke='%23181818' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 17.5L12.5 12.5' stroke='%23181818' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
       
        --tags-border: rgba(24, 24, 24, 0.06);
        --tag-bg: rgba(239, 242, 246, 1);
        --tag-text-color: rgba(24, 24, 24, .6);
        --tag-bg-hover: #DEE4EB;
        --tag-img: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M2.142 13H3.87L4.41 9.976H7.452L6.912 13H8.622L9.162 9.976H11.466L11.718 8.338H9.45L10.044 4.954H12.222L12.456 3.334H10.332L10.854 0.399999H9.144L8.622 3.334H5.58L6.102 0.399999H4.374L3.852 3.334H1.656L1.422 4.954H3.564L2.97 8.338H0.9L0.666 9.976H2.682L2.142 13ZM4.698 8.338L5.292 4.954H8.334L7.74 8.338H4.698Z' fill='%23181818'/%3E%3C/svg%3E%0A");
       
        --btn-img-prew: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.32'%3E%3Cpath d='M43.0996 13L34.0996 22L43.0996 31' stroke='%237D8092' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='%237D8092' stroke-width='1.5'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='%237D8092' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
        --btn-img-prew-hover: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.0996 13L34.0996 22L43.0996 31' stroke='%234969DB' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='%234969DB' stroke-width='1.5'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='%234969DB' stroke-width='1.5'/%3E%3C/svg%3E%0A");
        --btn-img-next: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.32'%3E%3Cpath d='M39.9004 13L48.9004 22L39.9004 31' stroke='%237D8092' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='%237D8092' stroke-width='1.5'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='%237D8092' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E%0A");
        --btn-img-next-hover: url("data:image/svg+xml,%3Csvg width='83' height='43' viewBox='0 0 83 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.9004 13L48.9004 22L39.9004 31' stroke='%234969DB' stroke-width='2' stroke-linecap='square'/%3E%3Cpath d='M16 1H11C5.47715 1 1 5.47715 1 11V32C1 37.5228 5.47715 42 11 42H16' stroke='%234969DB' stroke-width='1.5'/%3E%3Cpath d='M67 1H72C77.5228 1 82 5.47715 82 11V32C82 37.5228 77.5228 42 72 42H67' stroke='%234969DB' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    
        --main-slide-opacity: 1;
        --main-slide-bg-hover: rgba(255, 255, 255, 1);
        --main-slide-bg: linear-gradient(291.09deg, #014DA5 -28.23%, rgba(1, 77, 165, 0) 63.08%), linear-gradient(162.56deg, #DA40B6 -130.95%, rgba(218, 64, 182, 0) 88.05%), #12132A;
        --main-slide-box-shadow-hover: 0px 5px 55px rgba(31, 41, 62, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-box-shadow: 0px 5px 55px rgba(31, 41, 62, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-text-color-hover: #181818;
        --main-slide-text-color-detailed-hover: #2152F2;
        --main-slide-text-color-detailed: #FFFFFF;
        --main-slide-border-detailed-hover: rgba(24, 24, 24, 0.08);
        --main-slide-border-detailed: rgba(255, 255, 255, 0.18);
        --main-slide-detailed-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='white' stroke-opacity='0.18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='white' stroke-opacity='0.18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-slide-detailed-arrow-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-border-link-slider: rgba(24, 24, 24, 0.08);
        --main-color-link-slider-hover: rgba(33, 82, 242, 1);
        --main-arrow-link-slider: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='%23181818' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='%23181818' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-arrow-link-slider-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    
        --img-btn-download: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M16.667 14.6673V16.334C16.667 16.776 16.4914 17.1999 16.1788 17.5125C15.8663 17.8251 15.4424 18.0007 15.0003 18.0007H5.00033C4.5583 18.0007 4.13438 17.8251 3.82181 17.5125C3.50925 17.1999 3.33366 16.776 3.33366 16.334V14.6673M14.167 9.66732L10.0003 13.834M10.0003 13.834L5.83366 9.66732M10.0003 13.834L10.0003 3.83398' stroke='%231A1B1D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        --img-btn-link: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M15 5.5L5 15.5M15 5.5L6 5.5M15 5.5V14.5' stroke='%231A1B1D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");

        --bg-btn-gray: rgba(24, 24, 24, 0.08);
        --bg-btn-gray-hover: rgba(24, 24, 24, 0.14);
        --border-btn-transperent: rgba(24, 24, 24, 0.12);
        --border-btn-transperent-hover: rgba(24, 24, 24, 0.24);

        --border-popup: rgba(255, 255, 255, 0.12);
        --bg-popup: rgba(247, 248, 251, 1);
        --border-input-popup: rgba(221, 228, 237, 1);
        --bg-input-popup: rgba(235, 238, 244, 1);
        --border-input-popup-hover: rgb(203, 210, 220);
        --bg-input-popup-hover: rgb(229, 232, 237);
        --img-popup-cross: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.24'%3E%3Cpath d='M24 24L8 8M24 8L8 24' stroke='%23181818' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        --border-popup-mail: rgba(24, 24, 24, .12);
        --color-text-popup-opacity: rgba(24, 24, 24, .8);
        --border-link-popup: rgba(24, 24, 24, .2);

        --img-arrow-path: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M2.91634 7H11.083M11.083 7L7.58301 10.5M11.083 7L7.58301 3.5' stroke='%231A1B1D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");

        --bg-page-pagination: rgba(24, 24, 24, 0.08);

        --img-answer-success: url("data:image/svg+xml,%3Csvg width='100' height='101' viewBox='0 0 100 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_822_16342-936642)'%3E%3Ccircle cx='50' cy='50.5' r='50' fill='%23181818' fill-opacity='0.1'/%3E%3C/g%3E%3Cpath d='M39.5 50.5L47 58L62 43' stroke='%23181818' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_822_16342-936642' x='-12' y='-11.5' width='124' height='124' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='6'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_822_16342'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_822_16342' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        --img-answer-error: url("data:image/svg+xml,%3Csvg width='100' height='101' viewBox='0 0 100 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_b_822_16406-734152)'%3E%3Ccircle cx='50' cy='50.5' r='50' fill='%23181818' fill-opacity='0.1'/%3E%3C/g%3E%3Cpath d='M59 59.5L41 41.5M59 41.5L41 59.5' stroke='%23181818' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_b_822_16406-734152' x='-12' y='-11.5' width='124' height='124' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeGaussianBlur in='BackgroundImageFix' stdDeviation='6'/%3E%3CfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_822_16406'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_822_16406' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}

.search-in-page {
    transition: var(--trans);
    background-color:  var(--input-bg-search);
    border: 1px solid var(--input-border-search);
    border-radius: 14px;
    padding: 16.5px 20px 18.5px 57px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-main-color-light);
    min-width: 640px;
    background-position: 20px center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: var(--input-img-search);
    @media (min-width: 1025px) {
        &:hover {
            background-color:  var(--input-bg-search-focus);
            border: 1px solid var(--input-border-search-focus);
        }
    }
    &:focus {
        border: 1px solid var(--border-focus-input);
    }
    &::placeholder {
        color: var(--text-main-color-light);
        opacity: .5;
    }
    @media (max-width: 1640px) {
        font-size: 16px;
        padding: 10.5px 15px 11.5px 41px;
        background-position: 15px center;
        background-size: 16px;
        min-width: 478px;
    }
    @media (max-width: 640px) {
        min-width: 100%;
    }
}

.main__tags .tags__tag {
    display: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 32px;
    border-radius: 24px;
    border: 2px solid var(--tags-border);
    column-gap: 6px;
    row-gap: 10px;
    margin: 56px 0 48px 0;
    min-height: 210.8px;
    align-items: flex-start;
    @media (max-width: 1640px) {
        margin: 42px 0 32px 0;
        column-gap: 4px;
        row-gap: 8px;
        padding: 24px;
        border-radius: 18px;
        min-height: 172.5px;
    }
    @media (max-width: 492px) {
        margin: 36px 0 24px 0;
        border: unset;
        padding: unset;

    }
    &__tag {
        transition: var(--trans);
        cursor: pointer;
        display: block;
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 18px 12px 36px;
        border-radius: 50px;
        background-color: var(--tag-bg);
        color: var(--tag-text-color);
        background-repeat: no-repeat;
        background-position: 16px center;
        background-size: 13px;
        background-image: var(--tag-img);
        @media (min-width: 1025px) {
            &:hover {
                background-color: var(--tag-bg-hover);
            }
        }
        @media (max-width: 1640px) {
            font-size: 14px;
            padding: 8.5px 14px 9.5px 31px;
            background-position: 14px center;
            background-size: 10px;
        }
    }
}

.navigation-prew-next {
    display: flex;
    gap: 18px;
    &__prew, &__next {
        width: 81px;
        height: 41px;
        background-position: center;
        background-size: 81px 41px;
        background-repeat: no-repeat;
        @media (max-width: 1640px) {
            width: 64px;
            height: 32px;
            background-size: 64px 32px;
        }
    }
    &__prew {
        background-image: var(--btn-img-prew);
        @media (min-width: 1025px) {
            &:hover {
                background-image: var(--btn-img-prew-hover);
            }
        }
    }
    &__next {
        background-image: var(--btn-img-next);
        @media (min-width: 1025px) {
            &:hover {
                background-image: var(--btn-img-next-hover);
            }
        }
    }
}

.btn-blue, .btn-gray, .btn-transperent {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-main-color-light);
    border-radius: 14px;
    padding: 24px 42px 25px 42px;
    text-align: center;
    display: block;
    width: max-content;
    line-height: 100%;
    @media (max-width: 1640px) {
        padding: 20px 32px 21px 32px;
        border-radius: 12px;
        font-size: 16px;
    }
    @media (max-width: 640px) {
        padding: 15px 24px 17px 24px;
        font-size: 15px;
    }
}

.btn-blue {
    display: block;
    background-color: var(--bg-btn-blue);
    color: var(--color-white);
    @media (min-width: 1025px) {
        &:hover {
            background-color: var(--bg-btn-blue-hover);
        }
    }
    &.btn-download {
        background-image: var(--img-btn-download-light);
    } 
    &.btn-link {
        background-image: var(--img-btn-link-light);
    } 
    &.btn-location {
        background-image: var(--img-btn-location-light);
    }
}

.btn-gray {
    background-color: var(--bg-btn-gray);
    @media (min-width: 1025px) {
        &:hover {
            background-color: var(--bg-btn-gray-hover);
        }
    }
}

.btn-transperent {
    padding: 22px 42px 23px 42px;
    border: 2px solid var(--border-btn-transperent);
    @media (min-width: 1025px) {
        &:hover {
            border: 2px solid var(--border-btn-transperent-hover);
        }
    }
    @media (max-width: 1640px) {
        padding: 18px 32px 19px 32px;
    }
    @media (max-width: 640px) {
        padding: 13px 24px 15px 24px;
    }
}

.btn-download, .btn-link, .btn-location {
    background-size: 20px;
    background-repeat: no-repeat;
    @media (max-width: 1640px) {
        background-size: 18px;
    }
    @media (max-width: 640px) {
        background-size: 16px;
    }
}

.btn-download, .btn-location {
    padding: 24px 42px 25px 72px;
    background-position: 42px center;
    @media (max-width: 1640px) {
        padding: 20px 32px 21px 58px;
        background-position: 32px center;
        background-size: 18px;
    }
    @media (max-width: 640px) {
        padding: 15px 24px 17px 46px;
        background-position: 20px center;
    }
}

.btn-download {
    background-image: var(--img-btn-download);
}

.btn-location {
    background-image: var(--img-btn-location);
}

.btn-link {
    padding: 24px 72px 25px 42px;
    background-image: var(--img-btn-link);
    background-position: calc(100% - 42px) center;
    @media (max-width: 1640px) {
        padding: 20px 58px 21px 32px;
        background-position: calc(100% - 32px) center;
        background-size: 18px;
    }
    @media (max-width: 640px) {
        padding: 15px 46px 17px 24px;
        background-position: calc(100% - 24px) center;
    }
}

.bg-popup {
    transition: var(--trans);
    position: fixed;
    z-index: 3;
    top: 0; left: 0; bottom: 0; right: 0;   
    background: var(--header-bg-overlay);
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &.popup-catalog-solutions, &.popup-ask-question,
    &.popup-virtual-showroom, &.popup-promotion-consultation,
    &.popup-question-gostekh, &.popup-application-support-project,
    &.popup-bot-telegram, &.popup-out-startup-nn, 
    &.popup-out-preferential-lending, &.popup-personnel-about,
    &.popup-poster-about, &.popup-answer-server {
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
    }
    &.popup-ask-question .ask-question, 
    &.popup-catalog-solutions .catalog-solutions,
    &.popup-virtual-showroom .virtual-showroom,
    &.popup-promotion-consultation .promotion-consultation,
    &.popup-question-gostekh .question-gostekh,
    &.popup-application-support-project .application-support-project,
    &.popup-bot-telegram .bot-telegram, &.popup-out-startup-nn .out-startup-nn,
    &.popup-out-preferential-lending .out-preferential-lending,
    &.popup-personnel-about .personnel-about, &.popup-poster-about .poster-about,
    &.popup-answer-server .answer-server {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup {
    display: none;
    transition: var(--trans);
    position: relative;
    background-color: var(--bg-popup);
    padding: 46px 56px 56px 56px;
    margin: auto;
    border-radius: 24px;
    border: 1px solid var(--border-popup);
    transform: translateY(-70%);
    opacity: 0;
    width: min(688px, 90%);
    @media (max-width: 1280px) {
        padding: 36px 46px 46px 46px;
        border-radius: 20px;
    }
    @media (max-width: 640px) {
        padding: 20px 20px 24px 20px;
    }
    &__title {
        color: var(--text-main-color-light);
        font-size: 36px;
        margin-bottom: 36px;
        @media (max-width: 1280px) {
            font-size: 32px;
            margin-bottom: 32px;
        }
        @media (max-width: 640px) {
            font-size: 24px;
            margin-bottom: 20px;
            padding-right: 24px;
        }
    }
    &__cross {
        top: 18px; right: 18px;
        position: absolute;
        width: 32px;
        height: 32px;
        background-size: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--img-popup-cross);
        @media (max-width: 1280px) {
            width: 28px;
            height: 28px;
            background-size: 28px;
        }
        @media (max-width: 640px) {
            width: 24px;
            height: 24px;
            background-size: 24px;
        }
    }
    &__desc-page {
        display: grid;
        gap: 18px;
        @media (max-width: 1280px) {
            gap: 14px;
        }
        @media (max-width: 640px) {
            gap: 8px;
        }
        p, li {
            color: var(--color-text-popup-opacity);
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            strong {
                font-weight: 500;
                color: var(--text-main-color-light);
            }
            a {
                border-bottom: 2px solid var(--border-link-popup);
                @media (min-width: 1025px) {
                    &:hover {
                        opacity: .6;
                    }
                }
            }
            @media (max-width: 1280px) {
                font-size: 16px;
            }
            @media (max-width: 640px) {
                font-size: 15px;
            }
        }
        ul {
            display: grid;
            li {
                position: relative;
                padding-left: 30px;
                &::after {
                    content: '•';
                    position: absolute;
                    left: 10px; top: 1.5px;
                }
                @media (max-width: 1640px) {
                    padding-left: 24px;
                    &::after {
                        left: 8px;
                    }
                }
                @media (max-width: 640px) {
                    padding-left: 20px;
                    &::after {
                        left: 6px;
                    }
                }
            }  
        }
    }
    &.application-support-project {
        width: min(1020px, 90%);
    }
    &.personnel-about .personnel-about {
        &__btn {
            margin-top: 36px;
            @media (max-width: 1280px) {
                margin-top: 28px;
            }
            @media (max-width: 640px) {
                margin-top: 20px;
            }
        }
    }
    &.poster-about {
        width: min(1125px, 90%);
        height: 75%;
        @media (max-width: 900px) {
            height: 90%;
        }
    }
    &.ask-question, .ask-question,
    &.promotion-consultation .promotion-consultation,
    &.application-support-project .application-support-project {
        &__textarea {
            min-height: 180px;
            @media (max-width: 1280px) {
                min-height: 136px;
            }
            @media (max-width: 640px) {
                min-height: 108px;
            }
        }
        &__btn {
            margin-top: 6px;
            @media (max-width: 640px) {
                margin-top: 4px;
            }
        }
        &__desc {
            margin-top: 6px;
            color: var(--text-main-color-light);
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 2px;
            span {
                opacity: .5;
                line-height: 140%;
            }
            a {
                opacity: .8;
                border-bottom: 2px solid var(--border-popup-mail);
                line-height: 140%;
            }
            @media (max-width: 640px) {
                margin-top: 4px;
                font-size: 13px;
            }
        }
    }
    &.catalog-solutions .catalog-solutions,
    &.virtual-showroom .virtual-showroom {
        &__desc {
            color: var(--text-main-color-light);
            font-weight: 400;
            font-size: 18px;
            margin: 36px 0;
            span {
                opacity: .8;
            }
            @media (max-width: 1280px) {
                font-size: 16px;
                margin: 28px 0;
            }
            @media (max-width: 640px) {
                font-size: 14px;
                margin: 20px 0;
            }
        }
    }
    &.virtual-showroom .virtual-showroom {
        &__buttons {
            display: flex;
            align-items: center;
            gap: 20px;
            button {
                width: fit-content;
            }
            @media (max-width: 1280px) {
                gap: 18px;
            }
            @media (max-width: 640px) {
                gap: 12px;
            }
            @media (max-width: 492px) {
                align-items: unset;
                flex-direction: column;
            }
        }
        &__buttons-decs {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: var(--text-main-color-light);
            opacity: .5;
            @media (max-width: 1280px) {
                font-size: 13px;
            }
            @media (max-width: 640px) {
                font-size: 12px;
            }
        }
    }
    &.out-startup-nn {
        @media (max-height: 800px) {
            height: 90%;
            .popup__desc-page {
                height: calc(100% - 180px);
                overflow-y: auto;
                overflow-x: hidden;
                @media (max-width: 1280px) {
                    height: calc(100% - 170px);
                }
                @media (max-width: 640px) {
                    height: calc(100% - 170px);
                }
                @media (max-width: 420px) {
                    height: calc(100% - 190px);
                }
            }
        }
    }
    &.out-preferential-lending {
        @media (max-height: 800px) {
            height: 90%;
            .popup__desc-page {
                height: calc(100% - 140px);
                overflow-y: auto;
                overflow-x: hidden;
                @media (max-width: 1280px) {
                    height: calc(100% - 95px);
                }
                @media (max-width: 640px) {
                    height: calc(100% - 120px);
                }
            }
        }
    }
    &.application-support-project  {
        @media (max-height: 815px) {
            height: 90%;
            .popup-form {
                height: calc(100% - 140px);
                overflow-y: auto;
                overflow-x: hidden;
                @media (max-width: 1280px) {
                    height: calc(100% - 120px);
                }
                @media (max-width: 640px) {
                    height: calc(100% - 100px);
                }
                @media (max-width: 420px) {
                    height: calc(100% - 110px);
                }
            }
        }
    }
    &.bot-telegram .bot-telegram, 
    &.out-startup-nn .out-startup-nn,
    &.out-preferential-lending .out-preferential-lending {
        &__buttons {
            margin-top: 36px;
            @media (max-width: 1280px) {
                margin-top: 20px;
            }
        }
        &__desc ~ div {
            margin-top: 18px;
            @media (max-width: 1280px) {
                margin-top: 14px;
            }
            @media (max-width: 640px) {
                margin-top: 10px;
            }
        }
        &__buttons-title {
            font-weight: 500;
            font-size: 28px;
            line-height: 110%;
            color: var(--text-main-color-light);
            @media (max-width: 640px) {
                font-size: 20px;
            }
        }
        &__buttons-desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: var(--text-main-color-light);
            opacity: .8;
            margin: 12px 0 20px 0;
            @media (max-width: 640px) {
                font-size: 14px;
                margin: 12px 0;
            }
        }
    }
    &.personnel-about {
        .popup__desc-page.overflow {
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
    &.bot-telegram .bot-telegram {
        &__buttons-link {
            text-align: center;
            width: max-content;
            display: block;
            font-weight: 500;
            font-size: 16px;
            color: var(--color-white);
            background-color: #0088CC;
            border-radius: 12px;
            padding: 16px 32px 17px 58px;
            background-position: 30px center;
            background-repeat: no-repeat;
            background-size: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M0.30142 3.96604L2.94205 15.1738C3.14126 15.9649 3.6608 16.1617 4.39908 15.7891L8.42251 13.1207L10.3639 14.8012C10.5788 14.9946 10.7585 15.1563 11.1725 15.1563L10.8835 11.4684L3.42642 5.40393C3.1022 5.14377 3.49673 4.99963 3.93033 5.25979L13.1491 10.484L17.1178 9.36604C17.9811 9.12346 17.9967 8.58908 16.9381 8.21643L1.4147 2.83401C0.695951 2.59143 0.0670452 2.97815 0.30142 3.96604Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            @media (min-width: 1025px) {
                &:hover {
                    background-color: #0090D8;
                }
            }
            @media (max-width: 640px) {
                font-size: 15px;
                width: 100%;
                padding: 14px 32px 15px 58px;
                background-position: calc((100% / 2) - 80px) center;
            }
        }
    }
    &.bot-telegram {
        width: min(1100px, 90%);
        overflow: hidden;
        h2 {
            max-width: 23ch;
            @media (max-width: 1020px) {
                max-width: unset;
            }
        }
        .bot-telegram__desc {
            max-width: 49.5ch;
            @media (max-width: 1020px) {
                max-width: unset;
            }
        }
        &::after, &::before {
            content: '';
            position: absolute;
            top: 0; bottom: 0; right: 0; left: 0;
            @media (max-width: 1020px) {
                all: unset;
            }
        }
        &::before {
            z-index: -1;
            background-image: var(--img-phone-popup);
            background-size: auto 100%;
            background-position: right bottom;
            background-repeat: no-repeat;
            @media (max-width: 1170px) {
                background-size: auto 70%;
            }
        }
        &::after {
            background: radial-gradient(32.97% 61.69% at 74.21% 111.77%, rgba(68, 101, 232, 0.4) 0%, rgba(68, 101, 232, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(45.93% 82.26% at 100% 63.43%, rgba(218, 64, 182, 0.4) 0%, rgba(218, 64, 182, 0) 100%);
            z-index: -2;
        }
    }
    &.out-startup-nn, &.out-preferential-lending {
        width: min(940px, 90%);
    }
}

.popup-personnel-info {
    display: none;
    height: 100%;
}

.popup.with-tag {
    .popup {
        &__title {
            margin-bottom: 18px;
        }
    }
}

.popup {
    .tags__tag {
        cursor: default;
        &:hover {
            background-color: var(--tag-bg);
        }
        margin-bottom: 36px;
        @media (max-width: 1280px) {
            margin-bottom: 28px;
        }
        @media (max-width: 640px) {
            margin-bottom: 20px;
        }
    }
}

#list-popups-form .ask-question {
    @media (max-height: 900px) {
        height: 90%;
        .popup-form {
            height: calc(100% - 80px);
            overflow-y: auto;
            overflow-x: hidden;
            @media (max-width: 1280px) {
                height: calc(100% - 90px);
            }
            @media (max-width: 640px) {
                height: calc(100% - 60px);
            }
            @media (max-width: 420px) {
                height: calc(100% - 80px);
            }
        }
    }
}

#list-popups-form .ask-question.with-tag {
    @media (max-height: 900px) {
        height: 90%;
        .popup-form {
            height: calc(100% - 160px);
            overflow-y: auto;
            overflow-x: hidden;
            @media (max-width: 1280px) {
                height: calc(100% - 120px);
            }
            @media (max-width: 640px) {
                height: calc(100% - 120px);
            }
            @media (max-width: 420px) {
                height: calc(100% - 140px);
            }
        }
    }
}

.popup-form {
    display: grid;
    gap: 18px;
    @media (max-width: 640px) {
        gap: 12px;
    }
    &__two-input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        @media (max-width: 640px) {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
    &__six-input {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        @media (max-width: 840px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 14px;
        }
        @media (max-width: 640px) {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
    &__for-input {
        display: grid;
        gap: 8px;
        @media (max-width: 1280px) {
            gap: 5px;
        }
        @media (max-width: 640px) {
            gap: 2px;
        }
    }
    &__input {
        transition: var(--trans);
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        color: var(--text-main-color-light);
        border-radius: 14px;
        border: 1px solid var(--border-input-popup);
        background-color: var(--bg-input-popup);
        padding: 18px 20px 19px 20px;
        max-height: 66px;
        @media (min-width: 1025px) {
            &:hover {
                border: 1px solid var(--border-input-popup-hover);
                background-color: var(--bg-input-popup-hover);
            }
        }
        &:focus {
            border: 1px solid var(--border-focus-input);
        }
        &.error-input {
            animation: shake 0.5s;
            border: 1px solid var(--border-error-input);
        }
        &::placeholder {
            opacity: .5;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: var(--text-main-color-light);
        }
        @media (max-width: 1280px) {
            border-radius: 12px;
            font-size: 16px;
            padding: 14.5px 18px 15.5px 18px;
            max-height: 56px;
        }
        @media (max-width: 640px) {
            font-size: 15px;
            padding: 11px 16px 12px 16px;
            border-radius: 10px;
        }
    }
    &__input-error {
        font-weight: 500;
        font-size: 13px;
        color: var(--border-error-input);
        display: none;
        @media (max-width: 1280px) {
            font-size: 11px;
        }
        @media (max-width: 640px) {
            font-size: 8px;
        }
    }
    &__btn {
        background-color: var(--bg-btn-blue);
        color: var(--color-white);
        border-radius: 14px;
        text-align: center;
        padding: 24px 10px 25px 10px;
        font-size: 18px;
        @media (min-width: 1025px) {
            &:hover {
                background-color: var(--bg-btn-blue-hover);
            }
        }
        @media (max-width: 1280px) {
            font-size: 16px;
            padding: 20px 10px 21px 10px;
            border-radius: 12px;
        }
        @media (max-width: 640px) {
            border-radius: 10px;
            font-size: 15px;
            padding: 15.5px 10px 16.5px 10px;
        }
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.site-path {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 48px;
    flex-wrap: wrap;
    @media (max-width: 640px) {
        gap: 8px;
    }
    @media (max-width: 1640px) {
        margin-bottom: 32px;
    }
    @media (max-width: 640px) {
        margin-bottom: 24px;
    }
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        opacity: 0.6;
        color: var(--text-main-color-light);
        &:last-child {
            opacity: 1;
        }
        @media (min-width: 1025px) {
            &:hover {
                opacity: 1;
            }
        }
        @media (max-width: 1640px) {
            font-size: 14px;
        }
        @media (max-width: 640px) {
            font-size: 13px;
        }
    }
    &__arrow {
        width: 14px;
        height: 14px;
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--img-arrow-path);
        margin-top: 3px;
    }
}

.wrapper-main-slider {
    margin: 86px 0 100px 0;
    @media (max-width: 1640px) {
        margin: 64px 0 80px 0;
    }
    @media (max-width: 850px) {
        margin: 56px 0 60px 0;
    }
    @media (max-width: 640px) {
        margin: 50px 0 0 0;
    }
    .navigation-prew-next {
        width: min(1540px, 100%);
        margin: auto;
        @media (max-width: 680px) {
            display: none;
        }
    }
    #tns1-iw {
        margin-bottom: 36px;
        @media (max-width: 1640px) {
            margin-bottom: 32px;
        }
        @media (max-width: 1680px) {
            margin-bottom: 50px;
        }
        @media (max-width: 640px) {
            margin-bottom: 68px;
        }
    }
}

.main-slider-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 0 -50vw 0 -50vw;
}

.main-slider { 
    &__slide-content {
        position: relative;
        transition: var(--trans);
        padding: 12px 55px 12px 12px;
        display: flex;
        align-items: center;
        gap: 32px;
        border-radius: 32px;
        background: var(--main-slide-bg-hover);
        box-shadow: var(--main-slide-box-shadow-hover);
        @media (max-width: 1640px) {
            padding: 9px 24px 9px 9px;
            gap: 24px;
            border-radius: 24px;
        }
        @media (max-width: 1024px) {
            opacity: 1;
        }
        @media (max-width: 680px) {
            padding: 8px 8px 20px 8px;
            gap: 16px;
            border-radius: 24px;
            flex-direction: column;
        }
        .news__tag {
            left: 28px;
            bottom: 28px;
            @media (max-width: 1640px) {
                left: 23px;
                bottom: 23px;
            }
            @media (max-width: 1024px) {
                left: 22px;
                bottom: 22px;
            }
            @media (max-width: 680px) {
                top: 150px;
                left: 22px;
                bottom: unset;
            }
        }
    }
    &__slide {
        @media (min-width: 1025px) {
            &.not-hover {
                .main-slider {
                    &__slide-content {
                        background: var(--main-slide-bg);
                        box-shadow: var(--main-slide-box-shadow);
                        opacity: var(--main-slide-opacity);
                    }
                    &__slide-title, &__slide-desc {
                        color: var(--main-slide-text-color);
                    }
                    &__slide-detailed {
                        color: var(--main-slide-text-color-detailed);
                        border-bottom: 2px solid var(--main-slide-border-detailed);
                        &::after {
                            background-image: var(--main-slide-detailed-arrow);
                        }
                    }
                }
            }
        }
    }
    &__slide-img {
        width: 360px;
        height: 260px;
        border-radius: 24px;
        object-fit: cover;
        @media (max-width: 1640px) {
            width: 270px;
            height: 196px;
            border-radius: 18px;
        }
        @media (max-width: 850px) {
            width: 252px;
            height: 184px;
            border-radius: 16px;
        }
    }
    &__slide-text {
        @media (max-width: 680px) {
            padding: 0 12px;
        }
    }
    &__slide-title {
        color: var(--main-slide-text-color-hover);
        font-weight: 500;
        font-size: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1640px) {
            font-size: 20px;
        }
        @media (max-width: 850px) {
            font-size: 19px;
        }
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }
    &__slide-desc {
        color: var(--main-slide-text-color-hover);
        font-size: 18px;
        opacity: .8;
        font-weight: 400;
        margin: 12px 0 24px 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1640px) {
            margin: 10px 0 15px 0;
            font-size: 14px;
        }
        @media (max-width: 850px) {
            margin: 8px 0 15px 0;
        }
        @media (max-width: 640px) {
            margin: 8px 0 12px 0;
        }
    }
    &__slide-detailed {
        position: relative;
        max-width: max-content;
        font-weight: 500;
        font-size: 18px;
        color: var(--main-slide-text-color-detailed-hover);
        border-bottom: 2px solid var(--main-slide-border-detailed-hover);
        padding-bottom: 4px;
        @media (max-width: 1640px) {
            font-size: 14px;
            padding-bottom: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image: var(--main-slide-detailed-arrow-hover);
            top: 0; bottom: 0; right: -22px;
            margin: auto;
            @media (max-width: 1640px) {
                width: 13px;
                height: 13px;
                background-size: 13px;
                right: -17px;
            }
        }
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: var(--text-main-color-light);
        white-space: nowrap;
        padding-right: 22px;
        background-image: var(--main-arrow-link-slider);
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: right center;
        &.link-other-news-mobile {
            display: block;
            width: max-content;
            margin-top: 24px;
            @media (min-width: 601px) {
                display: none;
            }
        }
        &.link-other-news {
            @media (max-width: 600px) {
                display: none;
            }
        }
        @media (max-width: 1640px) {
            padding-right: 20px;
            background-size: 14px;
        }
        @media (max-width: 640px) {
            &.link-main-silder {
                transform: translateY(-50px);
            }
        }
        p {
            border-bottom: 2px solid var(--main-border-link-slider);
            padding-bottom: 4px;
            font-weight: 500;
            font-size: 20px;
            @media (max-width: 1640px) {
                font-size: 16px;
            }
        }
        @media (min-width: 1025px) {
            &:hover {
                color: var(--main-color-link-slider-hover);
                background-image: var(--main-arrow-link-slider-hover);
            }
        }
    }
}

body[data-theme="light"] {
    .main-slider {
        &__slide {
            @media (min-width: 1025px) {
                &:hover {
                    .main-slider {
                        &__slide-content {
                            background: var(--main-slide-bg);
                            box-shadow: var(--main-slide-box-shadow);
                        }
                        &__slide-title, &__slide-desc {
                            color: var(--text-main-color-dark);
                        }
                        &__slide-detailed {
                            color: var(--main-slide-text-color-detailed);
                            border-bottom: 2px solid var(--main-slide-border-detailed);
                            &::after {
                                background-image: var(--main-slide-detailed-arrow);
                            }
                        }
                    }
                } 
            }
        }
    }
}

.paginagion {
    margin-top: 46px;
    display: flex;
    @media (max-width: 1640px) {
        margin-top: 36px;   
    }
    @media (max-width: 600px) {
        margin-top: 24px;
    }
    &__list {
        display: flex;
        gap: 8px;
        text-align: center;
        margin: 0 auto;
        @media (max-width: 1640px) {
            gap: 4px;
        }
        @media (max-width: 600px) {
            gap: 5px;
        }
    }
    &__page, &__dots {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 67px;
        height: 67px;
        border-radius: 14px;
        p {
            font-weight: 500;
            font-size: 22px;
            color: var(--text-main-color-light);
            @media (max-width: 1640px) {
                font-size: 16px;
            }
            @media (max-width: 600px) {
                font-size: 15px;
            }
        }
        @media (max-width: 1640px) {
            width: 57px;
            height: 57px;
        }
        @media (max-width: 600px) {
            width: 47px;
            height: 47px;
        }
    }
    &__page {
        transition: var(--trans);
        cursor: pointer;
        background-color: var(--bg-page-pagination);
        @media (min-width: 1025px) {
            &:hover {
                transform: scale(.9);
            }
        }
        &.select-page {
            background-color: #2152F2;
            transform: scale(1);
            p {
                color: var(--color-white);
            }
        }
    }
    &__dots {
        cursor: default;
    }
}

.answer-server-block {
    display: none;
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1640px) {
        min-height: 400px;
    }
    @media (max-width: 420px) {
        min-height: 300px;
    }
    > div {
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100px;
        margin-bottom: 36px;
        @media (max-width: 600px) {
            width: 72px;
            height: 72px;
            background-size: 72px;
            margin-bottom: 20px;
        }
    }
    h2 {
        font-weight: 500;
        font-size: 36px;
        color: var(--text-main-color-light);
        text-align: center;
        @media (max-width: 600px) {
            font-size: 24px;
        }
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: var(--text-main-color-light);
        opacity: .5;
        margin: 14px 0 36px 0;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 15px;
            margin: 8px 0 20px 0;
        }
    }
    &[data-answer='success'] > div {
        background-image: var(--img-answer-success);
    }
    &[data-answer='error'] > div {
        background-image: var(--img-answer-error);
    }
}