.search-in-page {
    background-color:  var(--input-bg-search);
    border: 1px solid var(--input-border-search);
    border-radius: 14px;
    padding: 16.5px 20px 18.5px 57px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-main-color-light);
    min-width: 640px;
    background-position: 20px center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: var(--input-img-search);
    &:focus {
        background-color:  var(--input-bg-search-focus);
        border: 1px solid var(--input-border-search-focus);
    }
    &::placeholder {
        color: var(--text-main-color-light);
        opacity: .5;
    }
    @media (max-width: 1640px) {
        font-size: 16px;
        padding: 10.5px 15px 11.5px 41px;
        background-position: 15px center;
        background-size: 16px;
        min-width: 478px;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 32px;
    border-radius: 24px;
    border: 2px solid var(--tags-border);
    column-gap: 6px;
    row-gap: 10px;
    margin: 56px 0 48px 0;
    @media (max-width: 1640px) {
        margin: 42px 0 32px 0;
        column-gap: 4px;
        row-gap: 8px;
        padding: 24px;
        border-radius: 18px;
    }
    &__tag {
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 18px 12px 36px;
        border-radius: 50px;
        background-color: var(--tag-bg);
        color: var(--tag-text-color);
        background-repeat: no-repeat;
        background-position: 16px center;
        background-size: 13px;
        background-image: var(--tag-img);
        @media (min-width: 1025px) {
            &:hover {
                background-color: var(--tag-bg-hover);
            }
        }
        @media (max-width: 1640px) {
            font-size: 14px;
            padding: 8.5px 14px 9.5px 31px;
            background-position: 14px center;
            background-size: 10px;
        }
    }
}

.navigation-prew-next {
    display: flex;
    gap: 18px;
    &__prew, &__next {
        width: 81px;
        height: 41px;
        background-position: center;
        background-size: 81px 41px;
        background-repeat: no-repeat;
        @media (max-width: 1640px) {
            width: 64px;
            height: 32px;
            background-size: 64px 32px;
        }
    }
    &__prew {
        background-image: var(--btn-img-prew);
        @media (min-width: 1025px) {
            &:hover {
                background-image: var(--btn-img-prew-hover);
            }
        }
    }
    &__next {
        background-image: var(--btn-img-next);
        @media (min-width: 1025px) {
            &:hover {
                background-image: var(--btn-img-next-hover);
            }
        }
    }
}