body {
    &[data-theme="dark"] {
        --footer-border: rgba(255, 255, 255, 0.12);
        --footer-img-logo: url("data:image/svg+xml,%3Csvg width='160' height='62' viewBox='0 0 160 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.4089 27.08H28.469V24.1127H7.83354V44.2843H28.469V38.9448H20.5801V31.2333H36.4089V44.6796C36.4089 45.7034 36.2046 46.6564 35.8001 47.547C35.3957 48.4376 34.855 49.2117 34.1823 49.8692C33.5054 50.5309 32.7178 51.047 31.8067 51.4257C30.8956 51.8044 29.9207 51.9917 28.8734 51.9917H7.48018C6.43287 51.9917 5.45793 51.8044 4.54686 51.4257C3.64004 51.047 2.84391 50.5268 2.17125 49.8692C1.49859 49.2117 0.966417 48.4376 0.578998 47.547C0.191578 46.6564 0 45.7034 0 44.6796V23.7173C0 22.6977 0.191578 21.7405 0.578998 20.8499C0.966417 19.9593 1.49859 19.1853 2.17125 18.5277C2.84391 17.8702 3.64004 17.35 4.54686 16.9713C5.45793 16.5926 6.43713 16.4011 7.48018 16.4011H28.8734C29.9165 16.4011 30.8956 16.5926 31.8067 16.9713C32.7178 17.35 33.5097 17.8702 34.1823 18.5277C34.855 19.1894 35.3957 19.9593 35.8001 20.8499C36.2003 21.7405 36.4089 22.6936 36.4089 23.7173V27.08Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.9682 44.2594H69.5993V24.0919H48.9682V44.2594ZM70.0591 16.3762C71.0681 16.3762 72.0303 16.5635 72.9414 16.9464C73.8524 17.3251 74.6528 17.8453 75.3468 18.5028C76.0364 19.1604 76.5771 19.9344 76.9646 20.825C77.352 21.7156 77.5436 22.6686 77.5436 23.6924V44.6547C77.5436 45.6743 77.352 46.6315 76.9646 47.5221C76.5771 48.4127 76.0364 49.1868 75.3468 49.8485C74.6528 50.506 73.8524 51.0262 72.9414 51.4049C72.0345 51.7836 71.0724 51.9751 70.0591 51.9751H48.6148C47.5718 51.9751 46.5926 51.7836 45.6815 51.4049C44.7704 51.0262 43.9785 50.506 43.3059 49.8485C42.629 49.1868 42.1011 48.4169 41.7136 47.5221C41.3262 46.6357 41.1304 45.6785 41.1304 44.6547V23.6924C41.1304 22.6686 41.3262 21.7156 41.7136 20.825C42.1011 19.9344 42.6332 19.1604 43.3059 18.5028C43.9828 17.8411 44.7704 17.3251 45.6815 16.9464C46.5926 16.5677 47.5718 16.3762 48.6148 16.3762H70.0591Z' fill='white'/%3E%3Cpath d='M120.73 51.9916V42.2117H122.884V46.0404H128.789V42.2117H130.944V51.9916H128.789V48.1629H122.884V51.9916H120.73Z' fill='white'/%3E%3Cpath d='M110.057 51.9916C109.678 51.9916 109.333 51.9 109.022 51.7211C108.712 51.538 108.465 51.2966 108.277 50.9928C108.094 50.689 108.001 50.3519 108.001 49.9815V44.2218C108.001 43.8514 108.094 43.5143 108.277 43.2105C108.465 42.9067 108.712 42.6653 109.022 42.4822C109.333 42.2991 109.678 42.2117 110.057 42.2117H117.98V44.33H110.615C110.466 44.33 110.351 44.3674 110.274 44.4382C110.198 44.5089 110.155 44.6254 110.155 44.7794V49.428C110.155 49.5737 110.193 49.6819 110.274 49.7609C110.351 49.8358 110.466 49.8775 110.615 49.8775H117.98V51.9957H110.057V51.9916Z' fill='white'/%3E%3Cpath d='M95.8757 51.9916V42.2117H105.118V44.33H98.0555V46.0404H103.743V48.1629H98.0555V49.8733H105.118V51.9916H95.8757Z' fill='white'/%3E%3Cpath d='M86.1647 51.9957V44.33H82.2437V42.2117H92.2527V44.33H88.3359V51.9957H86.1647Z' fill='white'/%3E%3Cpath d='M128.138 21.158L122.667 27.5253C124 29.0943 125.354 30.6799 126.737 32.2779C128.121 33.876 129.475 35.4533 130.807 37.0014V38.6744H125.677L118.201 29.9432H112.969V38.6744H108.026V16.3804H112.969V25.1115H118.201C120.372 22.7144 122.85 19.7305 125.06 17.117L128.134 21.1621L128.138 21.158Z' fill='white'/%3E%3Cpath d='M87.1523 26.5014H100.078V21.2078H87.1523V26.5014ZM105.05 26.7511C105.05 27.3712 104.922 27.958 104.671 28.5157C104.416 29.0733 104.08 29.5644 103.658 29.9847C103.237 30.4051 102.738 30.738 102.168 30.9752C101.597 31.2124 100.984 31.3331 100.329 31.3331H100.107C100.912 32.2612 101.734 33.21 102.577 34.1839C103.42 35.1535 104.246 36.1024 105.046 37.0346V38.6743H99.9797L93.6745 31.3373L87.148 31.3706C87.2119 31.3706 87.2417 31.433 87.2417 31.5578H87.2118C87.1693 31.5578 87.148 31.5495 87.148 31.5246V38.6785H82.2393V16.4177H100.325C100.98 16.4177 101.593 16.5384 102.164 16.7756C102.734 17.0128 103.228 17.3416 103.654 17.7661C104.075 18.1906 104.416 18.6817 104.667 19.2352C104.922 19.7928 105.046 20.3796 105.046 20.9997V26.7594L105.05 26.7511Z' fill='white'/%3E%3Cpath d='M156.092 0L139.927 21.0996C141.54 21.6407 142.885 22.756 143.699 24.1959L160 2.92148L156.092 0.00416573V0Z' fill='white'/%3E%3Cpath d='M137.73 34.1175C136.87 34.1175 136.048 33.9635 135.29 33.6805L135.341 52.0001H140.259L140.208 33.6638C139.437 33.9551 138.602 34.1175 137.73 34.1175Z' fill='white'/%3E%3Cpath d='M137.708 21.8528C136.133 21.8528 134.707 22.477 133.677 23.4841C132.646 24.4913 132.008 25.8854 132.008 27.4252C132.008 28.9651 132.646 30.3592 133.677 31.3663C134.707 32.3735 136.133 32.9977 137.708 32.9977C139.284 32.9977 140.71 32.3735 141.74 31.3663C142.77 30.3592 143.409 28.9651 143.409 27.4252C143.409 25.8854 142.77 24.4913 141.74 23.4841C140.71 22.477 139.284 21.8528 137.708 21.8528ZM139.603 29.2772C139.118 29.7516 138.449 30.0429 137.708 30.0429C136.968 30.0429 136.299 29.7475 135.814 29.2772C135.329 28.8028 135.031 28.1494 135.031 27.4252C135.031 26.7011 135.333 26.0477 135.814 25.5733C136.295 25.0989 136.968 24.8076 137.708 24.8076C138.449 24.8076 139.118 25.0989 139.603 25.5733C140.088 26.0477 140.386 26.7011 140.386 27.4252C140.386 28.1494 140.084 28.8028 139.603 29.2772Z' fill='white'/%3E%3Cpath d='M125.209 7.53687L121.467 10.6789L131.727 24.1794C132.549 22.7394 133.894 21.6283 135.512 21.0914L125.209 7.53687Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    &[data-theme="light"] {
        --footer-border: rgba(24, 24, 24, 0.12);
        --footer-img-logo: url("data:image/svg+xml,%3Csvg width='160' height='62' viewBox='0 0 160 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.4089 27.08H28.469V24.1127H7.83354V44.2843H28.469V38.9448H20.5801V31.2333H36.4089V44.6796C36.4089 45.7034 36.2046 46.6564 35.8001 47.547C35.3957 48.4376 34.855 49.2117 34.1823 49.8692C33.5054 50.5309 32.7178 51.047 31.8067 51.4257C30.8956 51.8044 29.9207 51.9917 28.8734 51.9917H7.48018C6.43287 51.9917 5.45793 51.8044 4.54686 51.4257C3.64004 51.047 2.84391 50.5268 2.17125 49.8692C1.49859 49.2117 0.966417 48.4376 0.578998 47.547C0.191578 46.6564 0 45.7034 0 44.6796V23.7173C0 22.6977 0.191578 21.7405 0.578998 20.8499C0.966417 19.9593 1.49859 19.1853 2.17125 18.5277C2.84391 17.8702 3.64004 17.35 4.54686 16.9713C5.45793 16.5926 6.43713 16.4011 7.48018 16.4011H28.8734C29.9165 16.4011 30.8956 16.5926 31.8067 16.9713C32.7178 17.35 33.5097 17.8702 34.1823 18.5277C34.855 19.1894 35.3957 19.9593 35.8001 20.8499C36.2003 21.7405 36.4089 22.6936 36.4089 23.7173V27.08Z' fill='%23181818'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48.9677 44.2594H69.5988V24.0919H48.9677V44.2594ZM70.0586 16.3762C71.0676 16.3762 72.0298 16.5635 72.9409 16.9464C73.8519 17.3251 74.6523 17.8453 75.3463 18.5028C76.036 19.1604 76.5767 19.9344 76.9641 20.825C77.3515 21.7156 77.5431 22.6686 77.5431 23.6924V44.6547C77.5431 45.6743 77.3515 46.6315 76.9641 47.5221C76.5767 48.4127 76.036 49.1868 75.3463 49.8485C74.6523 50.506 73.8519 51.0262 72.9409 51.4049C72.034 51.7836 71.0719 51.9751 70.0586 51.9751H48.6143C47.5713 51.9751 46.5921 51.7836 45.681 51.4049C44.7699 51.0262 43.9781 50.506 43.3054 49.8485C42.6285 49.1868 42.1006 48.4169 41.7131 47.5221C41.3257 46.6357 41.1299 45.6785 41.1299 44.6547V23.6924C41.1299 22.6686 41.3257 21.7156 41.7131 20.825C42.1006 19.9344 42.6327 19.1604 43.3054 18.5028C43.9823 17.8411 44.7699 17.3251 45.681 16.9464C46.5921 16.5677 47.5713 16.3762 48.6143 16.3762H70.0586Z' fill='%23181818'/%3E%3Cpath d='M120.73 51.9916V42.2117H122.885V46.0404H128.79V42.2117H130.944V51.9916H128.79V48.1629H122.885V51.9916H120.73Z' fill='%23181818'/%3E%3Cpath d='M110.057 51.9916C109.678 51.9916 109.334 51.9 109.023 51.7211C108.712 51.538 108.465 51.2966 108.278 50.9928C108.095 50.689 108.001 50.3519 108.001 49.9815V44.2218C108.001 43.8514 108.095 43.5143 108.278 43.2105C108.465 42.9067 108.712 42.6653 109.023 42.4822C109.334 42.2991 109.678 42.2117 110.057 42.2117H117.98V44.33H110.615C110.466 44.33 110.351 44.3674 110.274 44.4382C110.198 44.5089 110.155 44.6254 110.155 44.7794V49.428C110.155 49.5737 110.194 49.6819 110.274 49.7609C110.351 49.8358 110.466 49.8775 110.615 49.8775H117.98V51.9957H110.057V51.9916Z' fill='%23181818'/%3E%3Cpath d='M95.876 51.9916V42.2117H105.119V44.33H98.0557V46.0404H103.744V48.1629H98.0557V49.8733H105.119V51.9916H95.876Z' fill='%23181818'/%3E%3Cpath d='M86.1642 51.9957V44.33H82.2432V42.2117H92.2522V44.33H88.3354V51.9957H86.1642Z' fill='%23181818'/%3E%3Cpath d='M128.138 21.158L122.667 27.5253C124 29.0943 125.354 30.6799 126.737 32.2779C128.121 33.876 129.475 35.4533 130.807 37.0014V38.6744H125.677L118.201 29.9432H112.969V38.6744H108.026V16.3804H112.969V25.1115H118.201C120.373 22.7144 122.85 19.7305 125.06 17.117L128.134 21.1621L128.138 21.158Z' fill='%23181818'/%3E%3Cpath d='M87.1523 26.5014H100.078V21.2078H87.1523V26.5014ZM105.05 26.7511C105.05 27.3712 104.922 27.958 104.671 28.5157C104.416 29.0733 104.08 29.5644 103.658 29.9847C103.237 30.4051 102.738 30.738 102.168 30.9752C101.597 31.2124 100.984 31.3331 100.329 31.3331H100.107C100.912 32.2612 101.734 33.21 102.577 34.1839C103.42 35.1535 104.246 36.1024 105.046 37.0346V38.6743H99.9797L93.6745 31.3373L87.148 31.3706C87.2119 31.3706 87.2417 31.433 87.2417 31.5578H87.2118C87.1693 31.5578 87.148 31.5495 87.148 31.5246V38.6785H82.2393V16.4177H100.325C100.98 16.4177 101.593 16.5384 102.164 16.7756C102.734 17.0128 103.228 17.3416 103.654 17.7661C104.075 18.1906 104.416 18.6817 104.667 19.2352C104.922 19.7928 105.046 20.3796 105.046 20.9997V26.7594L105.05 26.7511Z' fill='%23181818'/%3E%3Cpath d='M156.092 0L139.927 21.0996C141.54 21.6407 142.886 22.756 143.699 24.1959L160 2.92148L156.092 0.00416573V0Z' fill='%23181818'/%3E%3Cpath d='M137.729 34.1175C136.87 34.1175 136.048 33.9635 135.29 33.6805L135.341 52.0001H140.258L140.207 33.6638C139.437 33.9551 138.602 34.1175 137.729 34.1175Z' fill='%23181818'/%3E%3Cpath d='M137.708 21.8528C136.133 21.8528 134.707 22.477 133.677 23.4841C132.646 24.4913 132.008 25.8854 132.008 27.4252C132.008 28.9651 132.646 30.3592 133.677 31.3663C134.707 32.3735 136.133 32.9977 137.708 32.9977C139.284 32.9977 140.71 32.3735 141.74 31.3663C142.77 30.3592 143.409 28.9651 143.409 27.4252C143.409 25.8854 142.77 24.4913 141.74 23.4841C140.71 22.477 139.284 21.8528 137.708 21.8528ZM139.603 29.2772C139.118 29.7516 138.449 30.0429 137.708 30.0429C136.968 30.0429 136.299 29.7475 135.814 29.2772C135.329 28.8028 135.031 28.1494 135.031 27.4252C135.031 26.7011 135.333 26.0477 135.814 25.5733C136.295 25.0989 136.968 24.8076 137.708 24.8076C138.449 24.8076 139.118 25.0989 139.603 25.5733C140.088 26.0477 140.386 26.7011 140.386 27.4252C140.386 28.1494 140.084 28.8028 139.603 29.2772Z' fill='%23181818'/%3E%3Cpath d='M125.209 7.53687L121.467 10.6789L131.727 24.1794C132.549 22.7394 133.894 21.6283 135.512 21.0914L125.209 7.53687Z' fill='%23181818'/%3E%3C/svg%3E%0A");
    }
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0 56px;
    border-top: 2px solid var(--header-border);
    height: 140px;
    @media (max-width: 1640px) {
        height: 114px;
        padding: 0 40px;
    }
    @media (max-width: 680px) {
        height: 168px;
        padding: 0 20px;
    }
}

.footer {
    width: min(1540px, 100%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 48px;
    @media (max-width: 1640px) {
        gap: 32px; 
    }
    @media (max-width: 680px) {
        display: grid;
        gap: 18px; 
    }
    &__logo {
        width: 160px;
        height: 62px;
        background-size: 160px 62px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--footer-img-logo);
        @media (max-width: 1640px) {
            width: 116px;
            height: 45px;
            background-size: 116px 45px;
        }
    }
    &__content {
        display: grid;
        gap: 4px;
        @media (max-width: 680px) {
            gap: 12px;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: 500;
        color: var(--text-main-color-light);
        @media (max-width: 1640px) {
            font-size: 16px;
        }
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 1640px) {
            gap: 16px;
        }
        @media (max-width: 680px) {
            display: grid;
            gap: 6px;
        }
        a {
            padding-bottom: 4px;
            font-size: 18px;
            font-weight: 400;
            color: var(--text-main-color-light);
            opacity: .5;
            @media (min-width: 1025px) {
                &:hover {
                    opacity: 1;
                }
            }
            @media (max-width: 1640px) {
                font-size: 15px;
            }
            @media (max-width: 800px) {
                font-size: 14px;
            }
            @media (max-width: 680px) {
                padding-bottom: unset;
            }
        }
    }
    &__line {
        background-color: var(--text-main-color-light);
        opacity: .16;
        height: 18px;
        width: 1px;
        border: unset;
        @media (max-width: 1640px) {
            height: 14px;
        }
        @media (max-width: 680px) {
            display: none;
        }
    }
}