body {
    &[data-theme="dark"] {
        --main-slide-opacity: .5;
        --main-slide-bg: rgba(255, 255, 255, 0.16);
        --main-slide-bg-hover: rgba(255, 255, 255, 1);
        --main-slide-box-shadow: unset;
        --main-slide-box-shadow-hover: 0px 5px 55px rgba(62, 31, 31, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-text-color-hover: rgba(26, 27, 29, 1);
        --main-slide-text-color-detailed: rgba(73, 105, 219, 1);
        --main-slide-text-color-detailed-hover: rgba(19, 67, 239, 1);
        --main-slide-border-detailed: rgba(255, 255, 255, 0.08);
        --main-slide-border-detailed-hover: rgba(24, 24, 24, 0.08);
        --main-slide-detailed-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='%234969DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='%234969DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-slide-detailed-arrow-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22217 12L10.2222 8' stroke='%231343EF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22217 4L10.2222 8' stroke='%231343EF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

        --areas-activity-bg: rgba(255, 255, 255, 0.08);
        --areas-activity-bg-hover: rgba(255, 255, 255, 1);
        --areas-activity-title-hover: rgba(33, 82, 242, 1);
        --areas-activity-text-hover: rgba(24, 24, 24, 1);
        --areas-activity-border: rgba(255, 255, 255, 0.08);
    }
    &[data-theme="light"] {
        --main-slide-opacity: 1;
        --main-slide-bg-hover: rgba(255, 255, 255, 1);
        --main-slide-bg: linear-gradient(291.09deg, #014DA5 -28.23%, rgba(1, 77, 165, 0) 63.08%), linear-gradient(162.56deg, #DA40B6 -130.95%, rgba(218, 64, 182, 0) 88.05%), #12132A;
        --main-slide-box-shadow-hover: 0px 5px 55px rgba(31, 41, 62, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-box-shadow: 0px 5px 55px rgba(31, 41, 62, 0.01), 0px 38px 38px rgba(31, 41, 62, 0.02), 0px 9px 21px rgba(31, 41, 62, 0.02), 0px 0px 0px rgba(31, 41, 62, 0.02);
        --main-slide-text-color-hover: #181818;
        --main-slide-text-color-detailed-hover: #2152F2;
        --main-slide-text-color-detailed: #FFFFFF;
        --main-slide-border-detailed-hover: rgba(24, 24, 24, 0.08);
        --main-slide-border-detailed: rgba(255, 255, 255, 0.18);
        --main-slide-detailed-arrow: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='white' stroke-opacity='0.18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='white' stroke-opacity='0.18' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        --main-slide-detailed-arrow-hover: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22266 12L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.22266 4L10.2227 8' stroke='%232152F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

        --areas-activity-bg: #FFFFFF;
        --areas-activity-bg-hover: linear-gradient(241.54deg, #014DA5 -54.06%, rgba(1, 77, 165, 0) 105.46%), linear-gradient(62.71deg, #DA40B6 -87.35%, rgba(218, 64, 182, 0) 100%), #12132A;
        --areas-activity-title-hover: #FFFFFF;
        --areas-activity-text-hover: #FFFFFF;
        --areas-activity-border: rgba(255, 255, 255, 0.08);
    }
}


.main-page {
    width: min(1540px, 100%);
    margin: 0 auto;
}

.wrapper-main-slider {
    margin: 86px 0 100px 0;
    @media (max-width: 1640px) {
        margin: 64px 0 80px 0;
    }
    @media (max-width: 850px) {
        margin: 56px 0 60px 0;
    }
    @media (max-width: 640px) {
        margin: 50px 0 0 0;
    }
    .navigation-prew-next {
        width: min(1540px, 100%);
        margin: auto;
        @media (max-width: 680px) {
            display: none;
        }
    }
    #tns1-iw {
        margin-bottom: 36px;
        @media (max-width: 1640px) {
            margin-bottom: 32px;
        }
        @media (max-width: 1680px) {
            margin-bottom: 50px;
        }
    }
}

.main-slider-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 0 -50vw 0 -50vw;
}

.main-slider { 
    &__slide-content {
        transition: var(--trans);
        padding: 12px 55px 12px 12px;
        display: flex;
        align-items: center;
        gap: 32px;
        border-radius: 32px;
        background: var(--main-slide-bg-hover);
        box-shadow: var(--main-slide-box-shadow-hover);
        @media (max-width: 1640px) {
            padding: 9px 24px 9px 9px;
            gap: 24px;
            border-radius: 24px;
        }
        @media (max-width: 1024px) {
            opacity: 1;
        }
        @media (max-width: 680px) {
            padding: 8px 8px 20px 8px;
            gap: 16px;
            border-radius: 24px;
            flex-direction: column;
        }
    }
    &__slide {
        @media (min-width: 1025px) {
            &.not-hover {
                .main-slider {
                    &__slide-content {
                        background: var(--main-slide-bg);
                        box-shadow: var(--main-slide-box-shadow);
                        opacity: var(--main-slide-opacity);
                    }
                    &__slide-title, &__slide-desc {
                        color: var(--main-slide-text-color);
                    }
                    &__slide-detailed {
                        color: var(--main-slide-text-color-detailed);
                        border-bottom: 2px solid var(--main-slide-border-detailed);
                        &::after {
                            background-image: var(--main-slide-detailed-arrow);
                        }
                    }
                }
            }
        }
    }
    &__slide-img {
        width: 360px;
        height: 260px;
        border-radius: 24px;
        object-fit: cover;
        @media (max-width: 1640px) {
            width: 270px;
            height: 196px;
            border-radius: 18px;
        }
        @media (max-width: 850px) {
            width: 252px;
            height: 184px;
            border-radius: 16px;
        }
    }
    &__slide-text {
        @media (max-width: 680px) {
            padding: 0 12px;
        }
    }
    &__slide-title {
        color: var(--main-slide-text-color-hover);
        font-weight: 500;
        font-size: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1640px) {
            font-size: 20px;
        }
        @media (max-width: 850px) {
            font-size: 19px;
        }
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }
    &__slide-desc {
        color: var(--main-slide-text-color-hover);
        font-size: 18px;
        opacity: .8;
        font-weight: 400;
        margin: 12px 0 24px 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1640px) {
            margin: 10px 0 15px 0;
            font-size: 14px;
        }
        @media (max-width: 850px) {
            margin: 8px 0 15px 0;
        }
        @media (max-width: 640px) {
            margin: 8px 0 12px 0;
        }
    }
    &__slide-detailed {
        position: relative;
        max-width: max-content;
        font-weight: 500;
        font-size: 18px;
        color: var(--main-slide-text-color-detailed-hover);
        border-bottom: 2px solid var(--main-slide-border-detailed-hover);
        padding-bottom: 4px;
        @media (max-width: 1640px) {
            font-size: 14px;
            padding-bottom: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px;
            background-image: var(--main-slide-detailed-arrow-hover);
            top: 0; bottom: 0; right: -22px;
            margin: auto;
            @media (max-width: 1640px) {
                width: 13px;
                height: 13px;
                background-size: 13px;
                right: -17px;
            }
        }
    }
}

body[data-theme="light"] {
    .main-slider {
        &__slide {
            @media (min-width: 1025px) {
                &:hover {
                    .main-slider {
                        &__slide-content {
                            background: var(--main-slide-bg);
                            box-shadow: var(--main-slide-box-shadow);
                        }
                        &__slide-title, &__slide-desc {
                            color: var(--text-main-color-dark);
                        }
                        &__slide-detailed {
                            color: var(--main-slide-text-color-detailed);
                            border-bottom: 2px solid var(--main-slide-border-detailed);
                            &::after {
                                background-image: var(--main-slide-detailed-arrow);
                            }
                        }
                    }
                } 
            }
        }
    }
}

.areas-activity {
    &__title {
        font-weight: 500;
        font-size: 54px;
        color: var(--text-main-color-light);
        margin-bottom: 70px;
        @media (max-width: 1640px) {
            font-size: 42px;
            margin-bottom: 56px;
        }
        @media (max-width: 850px) {
            font-size: 36px;
            margin-bottom: 42px;
        }
        @media (max-width: 640px) {
            margin-bottom: 24px;
            font-size: 26px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media (max-width: 1640px) {
            gap: 30px;
        }
        @media (max-width: 1270px) {
            gap: 20px;
        }
        @media (max-width: 1150px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 800px) {
            gap: 16px;
        }
        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__block {
        padding: 36px 36px 50px 36px;
        background: var(--areas-activity-bg);
        border: 1.5px solid var(--areas-activity-border);
        border-radius: 32px;
        @media (max-width: 1640px) {
            padding: 28px 28px 40px 28px;
            border-radius: 24px;
        }
        @media (max-width: 1270px) {
            padding: 24px 24px 32px 24px;
            border-radius: 22px;
        }
        @media (max-width: 800px) {
            padding: 20px 20px 26px 20px;
            border-radius: 18px;
        }
        &.it-analytics {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M17.3333 37.3333H38.6666M17.3333 32L22.6666 24L27.9999 26.6667L33.3333 20L38.6666 25.3333' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-support {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M28 17V39M17 28H39' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-sales {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M19.6667 34.6667C18.1939 34.6667 17 35.8606 17 37.3333C17 38.8061 18.1939 40 19.6667 40C21.1394 40 22.3333 38.8061 22.3333 37.3333C22.3333 35.8606 21.1394 34.6667 19.6667 34.6667ZM19.6667 34.6667H34.3333M19.6667 34.6667L19.6667 16H17M34.3333 34.6667C32.8606 34.6667 31.6667 35.8606 31.6667 37.3333C31.6667 38.8061 32.8606 40 34.3333 40C35.8061 40 37 38.8061 37 37.3333C37 35.8606 35.8061 34.6667 34.3333 34.6667ZM19.6667 18.6667L38.3333 20L37 29.3333H19.6667' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-person {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M17.2092 39.907C17.2092 39.907 18.8836 32.093 27.8139 32.093C36.7441 32.093 38.7906 39.907 38.7906 39.907M33.3332 21.3333C33.3332 24.2789 30.9454 26.6667 27.9998 26.6667C25.0543 26.6667 22.6665 24.2789 22.6665 21.3333C22.6665 18.3878 25.0543 16 27.9998 16C30.9454 16 33.3332 18.3878 33.3332 21.3333Z' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-solutions {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M18.6667 27.9999L25.3334 34.6666L38.6667 21.3333' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-popularization {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M28 39.9069L28 17.9534M36.1861 25.0232L28 16.8372L19.814 25.0232' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        @media (min-width: 1025px) {
            &:hover {
                background: var(--areas-activity-bg-hover);
                .areas-activity {
                    &__block-title {
                        color: var(--areas-activity-title-hover);
                    }
                    &__block-text p {
                        color: var(--areas-activity-text-hover);
                    }
                }
            }
        }
       
    }
    &__block-title {
        color: var(--text-main-color-light);
        font-weight: 500;
        font-size: 36px;
        padding-left: 80px;
        background-size: 56px;
        background-repeat: no-repeat;
        background-position: left center;
        line-height: 56px;
        transition: var(--trans);
        @media (max-width: 1640px) {
            font-size: 28px;
            padding-left: 56px;
            background-size: 42px;
            line-height: 42px;
        }
        @media (max-width: 1270px) {
            padding-left: 54px;
            font-size: 25px;
            background-size: 40px;
            line-height: 40px;
        }
        @media (max-width: 800px) {
            padding-left: 48px;
            font-size: 22px;
            background-size: 36px;
            line-height: 36px;
            max-width: calc(100% - 1px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }
    &__block-text {
        display: grid;
        gap: 19px;
        margin-top: 46px;
        padding-left: 10px;
        @media (max-width: 1640px) {
            gap: 18px;
            margin-top: 32px;
        }
        @media (max-width: 1270px) {
            gap: 16px;
            margin-top: 26px;
            padding-left: 6px;
        }
        @media (max-width: 800px) {
            gap: 14px;
            margin-top: 20px;
        }
        p {
            color: var(--text-main-color-light);
            font-weight: 500;
            font-size: 20px;
            transition: var(--trans);
            @media (max-width: 1640px) {
                font-size: 16px;
            }
            @media (max-width: 1270px) {
                font-size: 15px;
            }
            @media (max-width: 800px) {
                font-size: 14px;
            }
        }
    }
}