body {
    &[data-theme="dark"] {
        --areas-activity-bg: rgba(255, 255, 255, 0.08);
        --areas-activity-bg-hover: rgba(255, 255, 255, 1);
        --areas-activity-title-hover: rgba(33, 82, 242, 1);
        --areas-activity-text-hover: rgba(24, 24, 24, 1);
        --areas-activity-border: rgba(255, 255, 255, 0.08);
    }
    &[data-theme="light"] {
        --areas-activity-bg: #FFFFFF;
        --areas-activity-bg-hover: linear-gradient(241.54deg, #014DA5 -54.06%, rgba(1, 77, 165, 0) 105.46%), linear-gradient(62.71deg, #DA40B6 -87.35%, rgba(218, 64, 182, 0) 100%), #12132A;
        --areas-activity-title-hover: #FFFFFF;
        --areas-activity-text-hover: #FFFFFF;
        --areas-activity-border: rgba(255, 255, 255, 0.08);
    }
}


.main-page {
    width: min(1540px, 100%);
    margin: 0 auto;
}

.areas-activity {
    &__title {
        font-weight: 500;
        font-size: 54px;
        color: var(--text-main-color-light);
        margin-bottom: 70px;
        @media (max-width: 1640px) {
            font-size: 42px;
            margin-bottom: 56px;
        }
        @media (max-width: 850px) {
            font-size: 36px;
            margin-bottom: 42px;
        }
        @media (max-width: 640px) {
            margin-bottom: 24px;
            font-size: 26px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media (max-width: 1640px) {
            gap: 30px;
        }
        @media (max-width: 1270px) {
            gap: 20px;
        }
        @media (max-width: 1150px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 800px) {
            gap: 16px;
        }
        @media (max-width: 640px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__block {
        padding: 36px 36px 50px 36px;
        background: var(--areas-activity-bg);
        border: 1.5px solid var(--areas-activity-border);
        border-radius: 32px;
        @media (max-width: 1640px) {
            padding: 28px 28px 40px 28px;
            border-radius: 24px;
        }
        @media (max-width: 1270px) {
            padding: 24px 24px 32px 24px;
            border-radius: 22px;
        }
        @media (max-width: 800px) {
            padding: 20px 20px 26px 20px;
            border-radius: 18px;
        }
        &.it-analytics {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M17.3333 37.3333H38.6666M17.3333 32L22.6666 24L27.9999 26.6667L33.3333 20L38.6666 25.3333' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-support {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M28 17V39M17 28H39' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-sales {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M19.6667 34.6667C18.1939 34.6667 17 35.8606 17 37.3333C17 38.8061 18.1939 40 19.6667 40C21.1394 40 22.3333 38.8061 22.3333 37.3333C22.3333 35.8606 21.1394 34.6667 19.6667 34.6667ZM19.6667 34.6667H34.3333M19.6667 34.6667L19.6667 16H17M34.3333 34.6667C32.8606 34.6667 31.6667 35.8606 31.6667 37.3333C31.6667 38.8061 32.8606 40 34.3333 40C35.8061 40 37 38.8061 37 37.3333C37 35.8606 35.8061 34.6667 34.3333 34.6667ZM19.6667 18.6667L38.3333 20L37 29.3333H19.6667' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-person {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M17.2092 39.907C17.2092 39.907 18.8836 32.093 27.8139 32.093C36.7441 32.093 38.7906 39.907 38.7906 39.907M33.3332 21.3333C33.3332 24.2789 30.9454 26.6667 27.9998 26.6667C25.0543 26.6667 22.6665 24.2789 22.6665 21.3333C22.6665 18.3878 25.0543 16 27.9998 16C30.9454 16 33.3332 18.3878 33.3332 21.3333Z' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-solutions {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M18.6667 27.9999L25.3334 34.6666L38.6667 21.3333' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        &.it-popularization {
            .areas-activity__block-title {
                background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%232152F2'/%3E%3Cpath d='M28 39.9069L28 17.9534M36.1861 25.0232L28 16.8372L19.814 25.0232' stroke='white' stroke-width='2.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
            }
        }
        @media (min-width: 1025px) {
            &:hover {
                background: var(--areas-activity-bg-hover);
                .areas-activity {
                    &__block-title {
                        color: var(--areas-activity-title-hover);
                    }
                    &__block-text p {
                        color: var(--areas-activity-text-hover);
                    }
                }
            }
        }
       
    }
    &__block-title {
        color: var(--text-main-color-light);
        font-weight: 500;
        font-size: 36px;
        padding-left: 80px;
        background-size: 56px;
        background-repeat: no-repeat;
        background-position: left center;
        line-height: 56px;
        transition: var(--trans);
        @media (max-width: 1640px) {
            font-size: 28px;
            padding-left: 56px;
            background-size: 42px;
            line-height: 42px;
        }
        @media (max-width: 1270px) {
            padding-left: 54px;
            font-size: 25px;
            background-size: 40px;
            line-height: 40px;
        }
        @media (max-width: 800px) {
            padding-left: 48px;
            font-size: 22px;
            background-size: 36px;
            line-height: 36px;
            max-width: calc(100% - 1px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }
    &__block-text {
        display: grid;
        gap: 19px;
        margin-top: 46px;
        padding-left: 10px;
        @media (max-width: 1640px) {
            gap: 18px;
            margin-top: 32px;
        }
        @media (max-width: 1270px) {
            gap: 16px;
            margin-top: 26px;
            padding-left: 6px;
        }
        @media (max-width: 800px) {
            gap: 14px;
            margin-top: 20px;
        }
        p {
            color: var(--text-main-color-light);
            font-weight: 500;
            font-size: 20px;
            transition: var(--trans);
            @media (max-width: 1640px) {
                font-size: 16px;
            }
            @media (max-width: 1270px) {
                font-size: 15px;
            }
            @media (max-width: 800px) {
                font-size: 14px;
            }
        }
    }
}