body {
    &[data-theme="dark"] {
        --text-color-news: rgba(255, 255, 255, .8);
    }
    &[data-theme="light"] {
        --text-color-news: rgba(24, 24, 24, .8);
    }
}


.news-pages {
    width: min(1540px, 100%);
    margin: 0 auto;
    h1 {
        max-width: 40ch;
        font-size: 42px;
        line-height: 110%;
        margin-bottom: 24px;
        @media (max-width: 1640px) {
            margin-bottom: 16px;
            font-size: 32px;
        }
        @media (max-width: 850px) {
            max-width: unset;
            font-size: 28px;
        }
        @media (max-width: 640px) {
            font-size: 24px;
        }
    }
    &__time {
        font-weight: 400;
        font-size: 16px;
        line-height: 126%;
        color: var(--text-main-color-light);
        opacity: .8;
    }
}

.news-img {
    position: relative;
    overflow: hidden;
    min-height: 560px;
    border-radius: 24px;
    margin: 42px 0;
    background: var(--bg-support-uav-img);
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
    @media (max-width: 1640px) {
        min-height: 436px;
        border-radius: 18px;
        margin: 36px 0;
    }
    @media (max-width: 1024px) {
        min-height: 300px;
    }
    @media (max-width: 600px) {
        min-height: 186px;
        margin: 24px 0;
    }
}

.news-textblock {
    display: grid;
    gap: 24px;
    @media (max-width: 1640px) {
        gap: 18px;
    }
    @media (max-width: 900px) {
        gap: 14px;
    }
    @media (max-width: 600px) {
        gap: 12px;
    }
    p {
        color: var(--text-color-news);
        opacity: .8;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        @media (max-width: 1640px) {
            font-size: 16px;
        }
        @media (max-width: 600px) {
            font-size: 15px;
        }
    }
    strong {
        color: var(--text-main-color-light);
        font-weight: 500;
    }
    a {
        border-bottom: 2px solid var(--border-link-popup);
        @media (min-width: 1025px) {
            &:hover {
                opacity: .6;
            }
        }
    }
}

.news-repost {
    display: grid;
    grid-template-columns: repeat(2, .415fr);
    margin-top: 64px;
    gap: 15px;
    margin-top: 42px;
    @media (max-width: 1640px) {
        grid-template-columns: repeat(2, .45fr);
    }
    @media (max-width: 900px) {
        display: flex;
        justify-content: space-between;
        gap: 28px;
        flex-wrap: wrap;
    }
    @media (max-width: 600px) {
        flex-direction: column;
    }
    &__title {
        font-weight: 500;
        font-size: 15px;
        color: var(--text-main-color-light);
        opacity: .5;
        text-transform: uppercase;
    }
    .news__tag {
        position: unset;
    }
    &__list {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    &__right, &__left {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 600px) {
            gap: 12px;
        }
    }
    &__right {
        .communities__block-socail {
            margin-top: unset;
            a {
                width: 40px;
                height: 40px;
                background-size: 24px;
                @media (max-width: 1640px) {
                    width: 34px;
                    height: 34px;
                    background-size: 18px;
                }
            }
        }
    }
}