body {
    &[data-theme="dark"] {
        --border-personnel-block: rgba(255, 255, 255, 0.12);
    }
    &[data-theme="light"] {
        --border-personnel-block: rgba(255, 255, 255, 0.12);
    }
}

.personnel-page {
    width: min(1540px, 100%);
    margin: 0 auto;
}

.personnel-info {
    margin-top: 100px;
    @media (max-width: 1640px) {
        margin-top: 64px;
    }
    @media (max-width: 900px) {
        margin-top: 60px;
    }
    @media (max-width: 600px) {
        margin-top: 50px;
    }
    &__title {
        font-weight: 500;
        font-size: 54px;
        color: var(--text-main-color-light);
        max-width: 30ch;
        @media (max-width: 1640px) {
            font-size: 42px;
        }
        @media (max-width: 900px) {
            font-size: 36px;
        }
        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
    &__desc {
        color: var(--text-main-color-light);
        opacity: .8;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        margin: 36px 0 64px 0;
        @media (max-width: 1640px) {
            font-size: 16px;
            margin: 24px 0 46px 0;
        }
        @media (max-width: 900px) {
            margin: 20px 0 36px 0;
        }
        @media (max-width: 600px) {
            font-size: 14px;
            margin: 16px 0 24px 0;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @media (max-width: 1640px) {
            gap: 16px;
        }
        @media (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 12px;
        }
    }
    &__block {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: grid;
        border-radius: 32px;
        min-height: 260px;
        padding: 36px;
        outline: 1px solid var(--border-personnel-block);
        background: var(--bg-color-gradient-block);
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
        &::after {
            transition: var(--trans);
            content: '';
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            background: var(--bg-color-gradient-hover);
            opacity: 0;
        }
        @media (min-width: 1025px) {
            &:hover::after {
                opacity: 1;
            }
        }
        @media (max-width: 1640px) {
            border-radius: 24px;
            min-height: 202px;
            padding: 28px 32px;
        }
        @media (max-width: 900px) {
            border-radius: 18px;
            min-height: 174px;
            padding: 20px 24px;
        }
        @media (max-width: 600px) {
            border-radius: 16px;
            min-height: 164px;
        }
    }
    &__block-title {
        position: relative;
        z-index: 1;
        margin-top: auto;
        font-weight: 500;
        font-size: 30px;
        color: grba(255);
        color: var(--color-white);
        @media (max-width: 1640px) {
            font-size: 24px;
        }
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
}