:root {
    --img-support-question-telegramm: url('https://viktorcoi.github.io/gorky-tech/assets/img/support-question-telegramm.png');
}

body {
    &[data-theme="dark"] {
        --border-support-measures-block: rgba(255, 255, 255, 0.12);
        --bg-support-question: rgba(255, 255, 255, 0.08);
        --img-support-question-block: url("data:image/svg+xml,%3Csvg width='238' height='187' viewBox='0 0 238 187' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M80.7612 62.5444C85.0651 60.2438 89.6961 59.5099 94.2082 59.5099C99.4244 59.5099 105.493 61.2255 110.392 65.2318C115.519 69.4365 119 75.8823 119 84.2917C119 93.9604 112.167 99.2063 108.32 102.162L107.477 102.816C103.272 106.118 101.646 107.883 101.646 111.563C101.646 113.535 100.862 115.427 99.4673 116.822C98.0725 118.216 96.1808 119 94.2082 119C92.2357 119 90.3439 118.216 88.9491 116.822C87.5543 115.427 86.7707 113.535 86.7707 111.563C86.7707 100.317 93.8215 94.6248 98.2939 91.1143C103.381 87.1179 104.125 86.2254 104.125 84.2917C104.125 80.3548 102.647 78.1235 100.952 76.7451C99.0282 75.2303 96.6564 74.3967 94.2082 74.375C91.2828 74.375 89.2697 74.8609 87.7624 75.6642C86.3443 76.4178 84.8469 77.7467 83.3991 80.4242C82.9335 81.2837 82.3032 82.0431 81.5442 82.659C80.7851 83.2749 79.9122 83.7353 78.9752 84.0138C78.0383 84.2924 77.0556 84.3837 76.0834 84.2824C75.1111 84.1812 74.1684 83.8895 73.3089 83.424C72.4494 82.9584 71.69 82.3281 71.0741 81.5691C70.4581 80.81 69.9978 79.9371 69.7192 79.0001C69.4407 78.0632 69.3494 77.0805 69.4506 76.1083C69.5518 75.136 69.8435 74.1933 70.3091 73.3338C72.9271 68.5143 76.3781 64.8848 80.7612 62.5444ZM94.2082 148.75C96.8383 148.75 99.3606 147.705 101.22 145.845C103.08 143.986 104.125 141.463 104.125 138.833C104.125 136.203 103.08 133.681 101.22 131.821C99.3606 129.961 96.8383 128.917 94.2082 128.917C91.5782 128.917 89.0558 129.961 87.1961 131.821C85.3364 133.681 84.2916 136.203 84.2916 138.833C84.2916 141.463 85.3364 143.986 87.1961 145.845C89.0558 147.705 91.5782 148.75 94.2082 148.75ZM94.2082 29.75C81.6984 29.7479 69.3901 32.9013 58.4223 38.9184C47.4546 44.9354 38.1818 53.6218 31.462 64.1736C24.7421 74.7254 20.7924 86.8017 19.9784 99.2851C19.1643 111.768 21.5121 124.255 26.8046 135.591L19.6151 163.774C19.0874 165.844 19.1037 168.015 19.6624 170.077C20.2211 172.139 21.3033 174.022 22.8039 175.543C24.3046 177.063 26.1727 178.17 28.2272 178.756C30.2817 179.342 32.4527 179.387 34.5297 178.887C41.9672 177.102 53.4011 174.355 63.5856 171.925C73.6974 176.485 84.7011 178.725 95.7908 178.482C106.881 178.239 117.775 175.518 127.677 170.519C137.58 165.52 146.238 158.37 153.019 149.591C159.8 140.813 164.532 130.629 166.867 119.785C169.203 108.942 169.083 97.7127 166.517 86.9212C163.952 76.1296 159.004 66.0486 152.038 57.4165C145.072 48.7844 136.263 41.8197 126.257 37.0327C116.251 32.2456 105.301 29.7573 94.2082 29.75ZM34.7082 104.125C34.7121 91.1867 38.9333 78.6023 46.732 68.2786C54.5307 57.9549 65.482 50.4545 77.9265 46.914C90.3709 43.3736 103.63 43.9859 115.695 48.6583C127.761 53.3307 137.974 61.8085 144.788 72.8071C151.602 83.8057 154.645 96.7256 153.457 109.609C152.268 122.493 146.912 134.638 138.201 144.204C129.49 153.77 117.898 160.236 105.181 162.622C92.4649 165.009 79.3174 163.185 67.7307 157.427L65.321 156.227L62.6931 156.852L35.0454 163.466C37.0287 155.731 39.6269 145.497 41.8879 136.612L42.5821 133.875L41.2929 131.366C36.9498 122.943 34.6916 113.601 34.7082 104.125ZM143.792 208.25C124.256 208.25 106.495 200.723 93.2166 188.417H94.2082C101.328 188.417 108.24 187.534 114.845 185.868C123.413 190.648 133.29 193.375 143.801 193.375C153.321 193.375 162.306 191.144 170.269 187.177L172.679 185.977L175.307 186.602C184.44 188.784 194.793 191.015 202.478 192.651C200.733 185.204 198.363 175.237 196.112 166.362L195.418 163.625L196.707 161.116C201.05 152.693 203.308 143.351 203.292 133.875C203.297 123.927 200.806 114.137 196.046 105.402C191.287 96.6663 184.412 89.2647 176.05 83.8752C174.302 76.7919 171.635 69.9677 168.117 63.5757C177.962 66.9846 186.981 72.4229 194.59 79.5385C202.2 86.6541 208.23 95.2885 212.291 104.883C216.352 114.477 218.353 124.817 218.164 135.233C217.975 145.649 215.601 155.91 211.195 165.351C213.704 175.347 216.253 186.175 217.859 193.147C218.331 195.168 218.285 197.275 217.726 199.273C217.167 201.271 216.114 203.096 214.662 204.579C213.211 206.062 211.409 207.155 209.423 207.757C207.437 208.359 205.332 208.45 203.301 208.022C196.092 206.515 184.757 204.095 174.414 201.675C164.791 206.023 154.351 208.264 143.792 208.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
        --bg-support-question-telegramm-hover: rgba(255, 255, 255, 1);
    }
    &[data-theme="light"] {
        --border-support-measures-block: rgba(255, 255, 255, 0.12);
        --bg-support-question: rgba(255, 255, 255, 1);
        --img-support-question-block: url("data:image/svg+xml,%3Csvg width='238' height='187' viewBox='0 0 238 187' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.1'%3E%3Cpath d='M80.7607 62.5444C85.0646 60.2438 89.6957 59.5099 94.2077 59.5099C99.4239 59.5099 105.493 61.2255 110.392 65.2318C115.519 69.4365 118.999 75.8823 118.999 84.2917C118.999 93.9604 112.167 99.2063 108.319 102.162L107.476 102.816C103.272 106.118 101.645 107.883 101.645 111.563C101.645 113.535 100.862 115.427 99.4668 116.822C98.072 118.216 96.1803 119 94.2077 119C92.2352 119 90.3434 118.216 88.9486 116.822C87.5538 115.427 86.7702 113.535 86.7702 111.563C86.7702 100.317 93.821 94.6248 98.2934 91.1143C103.381 87.1179 104.124 86.2254 104.124 84.2917C104.124 80.3548 102.647 78.1235 100.951 76.7451C99.0277 75.2303 96.6559 74.3967 94.2077 74.375C91.2823 74.375 89.2692 74.8609 87.7619 75.6642C86.3438 76.4178 84.8464 77.7467 83.3986 80.4242C82.933 81.2837 82.3027 82.0431 81.5437 82.659C80.7846 83.2749 79.9117 83.7353 78.9747 84.0138C78.0378 84.2924 77.0551 84.3837 76.0829 84.2824C75.1107 84.1812 74.1679 83.8895 73.3084 83.424C72.4489 82.9584 71.6895 82.3281 71.0736 81.5691C70.4577 80.81 69.9973 79.9371 69.7187 79.0001C69.4402 78.0632 69.3489 77.0805 69.4501 76.1083C69.5513 75.136 69.843 74.1933 70.3086 73.3338C72.9266 68.5143 76.3776 64.8848 80.7607 62.5444ZM94.2077 148.75C96.8378 148.75 99.3601 147.705 101.22 145.845C103.08 143.986 104.124 141.463 104.124 138.833C104.124 136.203 103.08 133.681 101.22 131.821C99.3601 129.961 96.8378 128.917 94.2077 128.917C91.5777 128.917 89.0553 129.961 87.1956 131.821C85.3359 133.681 84.2911 136.203 84.2911 138.833C84.2911 141.463 85.3359 143.986 87.1956 145.845C89.0553 147.705 91.5777 148.75 94.2077 148.75ZM94.2077 29.75C81.6979 29.7479 69.3896 32.9013 58.4219 38.9184C47.4541 44.9354 38.1813 53.6218 31.4615 64.1736C24.7417 74.7254 20.792 86.8017 19.9779 99.2851C19.1638 111.768 21.5117 124.255 26.8042 135.591L19.6146 163.774C19.0869 165.844 19.1032 168.015 19.6619 170.077C20.2206 172.139 21.3028 174.022 22.8034 175.543C24.3041 177.063 26.1723 178.17 28.2267 178.756C30.2812 179.342 32.4523 179.387 34.5292 178.887C41.9667 177.102 53.4007 174.355 63.5851 171.925C73.6969 176.485 84.7006 178.725 95.7903 178.482C106.88 178.239 117.775 175.518 127.677 170.519C137.579 165.52 146.238 158.37 153.019 149.591C159.8 140.813 164.531 130.629 166.867 119.785C169.202 108.942 169.083 97.7127 166.517 86.9212C163.951 76.1296 159.004 66.0486 152.038 57.4165C145.072 48.7844 136.263 41.8197 126.257 37.0327C116.25 32.2456 105.3 29.7573 94.2077 29.75ZM34.7077 104.125C34.7117 91.1867 38.9328 78.6023 46.7315 68.2786C54.5302 57.9549 65.4815 50.4545 77.926 46.914C90.3704 43.3736 103.63 43.9859 115.695 48.6583C127.76 53.3307 137.973 61.8085 144.787 72.8071C151.601 83.8057 154.645 96.7256 153.456 109.609C152.268 122.493 146.912 134.638 138.201 144.204C129.489 153.77 117.897 160.236 105.181 162.622C92.4645 165.009 79.3169 163.185 67.7302 157.427L65.3205 156.227L62.6926 156.852L35.0449 163.466C37.0282 155.731 39.6264 145.497 41.8874 136.612L42.5816 133.875L41.2924 131.366C36.9493 122.943 34.6912 113.601 34.7077 104.125ZM143.791 208.25C124.255 208.25 106.494 200.723 93.2161 188.417H94.2077C101.328 188.417 108.24 187.534 114.844 185.868C123.412 190.648 133.289 193.375 143.801 193.375C153.321 193.375 162.305 191.144 170.269 187.177L172.678 185.977L175.306 186.602C184.439 188.784 194.792 191.015 202.478 192.651C200.733 185.204 198.362 175.237 196.111 166.362L195.417 163.625L196.706 161.116C201.05 152.693 203.308 143.351 203.291 133.875C203.296 123.927 200.805 114.137 196.046 105.402C191.287 96.6663 184.411 89.2647 176.05 83.8752C174.301 76.7919 171.634 69.9677 168.117 63.5757C177.961 66.9846 186.98 72.4229 194.59 79.5385C202.199 86.6541 208.23 95.2885 212.29 104.883C216.351 114.477 218.352 124.817 218.163 135.233C217.975 145.649 215.6 155.91 211.195 165.351C213.704 175.347 216.252 186.175 217.859 193.147C218.33 195.168 218.285 197.275 217.726 199.273C217.167 201.271 216.113 203.096 214.662 204.579C213.211 206.062 211.409 207.155 209.423 207.757C207.437 208.359 205.331 208.45 203.301 208.022C196.092 206.515 184.757 204.095 174.414 201.675C164.791 206.023 154.35 208.264 143.791 208.25Z' fill='%23181818'/%3E%3C/g%3E%3C/svg%3E%0A");
        --bg-support-question-telegramm-hover: linear-gradient(241.54deg, #014DA5 -54.06%, rgba(1, 77, 165, 0) 105.46%), linear-gradient(62.71deg, #DA40B6 -87.35%, rgba(218, 64, 182, 0) 100%), #12132A;
        .support-question__telegramm {
            background: rgba(232, 237, 243, 1);
            @media (min-width: 1025px) {
                &:hover {
                    background: var(--bg-support-question-telegramm-hover);
                }
            }
        }
    }
}

.support-page {
    width: min(1540px, 100%);
    margin: 0 auto;
}

.support-measures {
    margin: 100px 0;
    @media (max-width: 1640px) {
        margin: 64px 0;
    }
    @media (max-width: 850px) {
        margin: 60px 0;
    }
    @media (max-width: 600px) {
        margin: 50px 0;
    }   
    &__title {
        font-weight: 500;
        font-size: 54px;
        color: var(--text-main-color-light);
        max-width: 25ch;
        @media (max-width: 1640px) {
            font-size: 42px;
            max-width: unset;
        }
        @media (max-width: 850px) {
            font-size: 36px;
        }
        @media (max-width: 600px) {
            font-size: 26px;
        }
    }
    &__desc {
        margin: 32px 0 64px 0;
        font-weight: 400;
        color: var(--text-main-color-light);
        font-size: 20px;
        opacity: .8;
        @media (max-width: 1640px) {
            margin: 24px 0 46px 0;
            font-size: 16px;
        }
        @media (max-width: 850px) {
            margin: 20px 0 36px 0;
        }
        @media (max-width: 600px) {
            font-size: 14px;
            margin: 16px 0 24px 0;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @media (max-width: 1640px) {
            gap: 16px;
        }
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
    &__block {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: var(--trans);
        display: grid;
        padding: 36px 42px;
        min-height: 260px;
        border-radius: 32px;
        outline: 1px solid var(--border-support-measures-block);
        background: var(--bg-color-gradient-block);
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
        &::after {
            transition: var(--trans);
            content: '';
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            background: var(--bg-color-gradient-hover);
            opacity: 0;
        }
        @media (min-width: 1025px) {
            &:hover::after {
                opacity: 1;
            }
        }
        @media (max-width: 1640px) {
            padding: 26px 32px;
            border-radius: 24px;
            min-height: 202px;
        }
        @media (max-width: 850px) {
            border-radius: 18px;
            min-height: 174px;
            padding: 20px 24px;
        }
        @media (max-width: 600px) {
            border-radius: 16px;
            min-height: 164px;
        }
    }
    &__block-title {
        position: relative;
        z-index: 1;
        font-weight: 500;
        font-size: 32px;
        line-height: 110%;
        color: var(--color-white);
        margin-top: auto;
        @media (max-width: 1640px) {
            font-size: 22px;
        }
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
}

.support-question {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 20px;
    @media (max-width: 1640px) {
        grid-template-columns: 1fr 281px;
        gap: 15px;
    }
    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    @media (max-width: 600px) {
        gap: 12px;
    }
    &__block {
        padding: 36px 46px;
        border-radius: 32px;
        background-color: var(--bg-support-question);
        background-image: var(--img-support-question-block);
        background-repeat: no-repeat;
        background-position: calc(100% - 26px) bottom;
        background-size: 238px auto;
        @media (max-width: 1640px) {
            background-position: calc(100% - 20px) bottom;
            background-size: 186px auto;
            padding: 29px 36px;
            border-radius: 25px;
        }
        @media (max-width: 1024px) {
            border-radius: 24px;
            background-size: 168px auto;
        }
        @media (max-width: 600px) {
            background-image: unset;
            border-radius: 16px;
        }
    }
    &__block-title {
        font-weight: 500;
        font-size: 42px;
        color: var(--text-main-color-light);
        @media (max-width: 1640px) {
            font-size: 32px;
        }
        @media (max-width: 1024px) {
            font-size: 28px;
        }
        @media (max-width: 600px) {
            font-size: 24px;
        }
    }
    &__block-desc {
        color: var(--text-main-color-light);
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        opacity: .8;
        margin: 24px 0 42px 0;
        @media (max-width: 1640px) {
            font-size: 18px;
            margin: 16px 0 32px 0;
        }
        @media (max-width: 1024px) {
            font-size: 16px;
            margin: 12px 0 28px 0;
        }
        @media (max-width: 600px) {
            font-size: 15px;
            margin: 10px 0 18px 0;
        }
    }
    &__telegramm {
        transition: var(--trans);
        cursor: pointer;
        border-radius: 32px;
        padding: 24px 24px 24px 28px;
        background: var(--bg-support-question);
        max-height: 116px;
        display: grid;
        grid-template-columns: 68px 1fr;
        gap: 24px;
        align-items: center;
        @media (min-width: 1025px) {
            &:hover {
                background: var(--bg-support-question-telegramm-hover);
                .support-question__telegramm-desc {
                    color: var(--text-main-color-dark);
                }
            }
        }
        @media (max-width: 1640px) {
            max-height: 91px;
            border-radius: 24px;
            gap: 20px;
            padding: 20px;
            grid-template-columns: 52px 1fr;
        }
        @media (max-width: 1024px) {
            max-width: 280px;
            max-height: 92px;   
        }
        @media (max-width: 600px) {
            max-width: 100%;
            max-height: 91px;
            border-radius: 16px;
        }
    }
    &__telegramm-img {
        width: 68px;
        height: 68px;
        background-size: 68px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: var(--img-support-question-telegramm);
        @media (max-width: 1640px) {
            width: 52px;
            height: 52px;
            background-size: 52px;
        }
    }
    &__telegramm-desc {
        transition: var(--trans);
        font-weight: 500;
        font-size: 20px;
        color: var(--text-main-color-light);
        @media (max-width: 1640px) {
            font-size: 15px;
        }
    }
}